<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <script src="/allpaypass/js/jquery-3.2.1.min.js"></script>
    <script src="/allpaypass/js/tsbApiTest.js"></script>

    <title>TSBank API Test Page</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td>訂單資訊</td>
            <td>內容</td>
        </tr>
        <tr>
            <td>訂單編號</td>
            <td th:text="${oid}" id="oid"></td>
        </tr>
        <tr>
            <td>收款單位</td>
            <td th:text="${mch}" id="mch"></td>
        </tr>

        <tr>
            <td>訂單內容</td>
            <td th:text="${detail}" id="detail"></td>
        </tr>

        <tr>
            <td>交易時間</td>
            <td th:text="${time}" id="time"></td>
        </tr>

        <tr>
            <td>付款金額</td>
            <td th:text="${amount}" id="amount"></td>
        </tr>

        <tr>
            <td>分期數</td>
            <td><input type="text" id="install" value="0"/></td>
        </tr>

        <tr>
            <td>是否使用紅利</td>
            <td><input type="radio" name="redeem" id="1" value="1"/>是
            <input type="radio" name="redeem" id="0" value="0"/>否</td>

        </tr>
        <tr>
            <td>卡號</td>
            <td><input type="text" id="cardId" value="4050598300755208"/></td>
        </tr>

        <tr>
            <td>到期日</td>
            <td><input type="text" id="expireDate" value="3012"/></td>
        </tr>

        <tr>
            <td>卡片背面三碼</td>
            <td> <input type="text" id="extendNo" value="857"/></td>
        </tr>

        <tr>
            <td></td>
            <td> <button type="button" id="pay">Pay</button></td>
        </tr>
    </table>
<table>
    <tr>
        <td>欲退款單號</td>
        <td> <input type="text" id="refundOrderNo"/></td>
    </tr>
    <tr>
        <td></td>
        <td> <button type="button" id="Cancel">Cancel</button></td>
    </tr>
    <tr>
        <td></td>
        <td> <button type="button" id="Query">Query</button></td>
    </tr>
</table>

</body>
</html>