@charset "UTF-8";
.rwdTable {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}

.rwdTr, .rwdTitle_gorup {
  display: table-row;
}

.rwdTh, .rwdTd {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  padding: 5px 10px;
}

.rwdTd.right {
  text-align: right;
}

.rwdTd.center {
  text-align: center;
}

.rwdTd.left {
  text-align: left;
}

.left {
  text-align: left;
}

/* 表格單雙行顏色變化 */
.rwdTr:nth-of-type(odd), .rwdTitle_gorup:nth-of-type(odd) {
  background-color: #eaeaea;
}

/* 表頭背景藍色 */
.rwdTh {
  background-color: #188EBE;
  color: #ffffff;
}

@media (max-width: 900px) {
  /* 增加外框線 */
  .rwdTable {
    border: 1px solid #188EBE;
  }
  /* 將表格中間的空間刪掉 */
  .rwdTable {
    border-spacing: 0px;
  }
  /* 隱藏表頭列 */
  .rwdTr:first-of-type {
    display: none;
  }
  .rwdTd {
    display: table;
    padding: 0;
    width: 100%;
    text-align: right;
  }
  .rwdTd:before {
    content: attr(data-th);
    display: table-cell;
    font-weight: bold;
    color: #fff;
    padding: 3px 10px;
    white-space: nowrap;
    text-align: justify;
    width: 4rem;
    background-color: #188EBE;
    vertical-align: top;
  }
  .rwdTd span {
    padding: 3px 10px;
    display: inline-block;
  }
  .rwdTr:nth-of-type(odd), .rwdTitle_gorup:nth-of-type(odd) {
    background-color: #e8f6ff;
  }
}

/* 切頁 css */
.textBox {
  white-space: pre;
}

.page__box {
  margin: 1rem 0;
}

.page__box__input {
  width: 3rem;
}

.page__count {
  padding: 0 0.5rem;
  color: #4285f4;
}

.page__count:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page__count.current {
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.switch__demo {
  display: inline-block;
}

.switch__demo input {
  display: none;
}

.switch__demo input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch__demo label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 25px;
  position: relative;
}

.switch__demo label:after {
  content: 'on';
  position: absolute;
  top: 3px;
  left: 5px;
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.switch__demo input:checked + label {
  background-color: #7EC35A;
}

.switch__demo input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav__box {
  height: auto;
  padding: 0;
}

.nav__box ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.nav__btn {
  display: inline-block;
  margin: 0 4rem;
  padding: .8rem 0;
  text-decoration: none;
  letter-spacing: 3px;
  text-indent: 3px;
  color: #727171;
  height: auto;
  text-align: center;
}

.nav__btn.current {
  border-bottom: #5067e6 3px solid;
}

#page__information {
  padding: .5rem;
  padding-top: 0;
}

#page__information .tool__bar {
  padding: 0 .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5rem;
}

@media (max-width: 900px) {
  #page__information .tool__bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 1rem;
  }
}

#page__information .tool__bar span {
  vertical-align: bottom;
  display: inline-block;
}

@media (max-width: 900px) {
  #page__information .tool__update__time {
    margin-bottom: 1rem;
  }
}

#page__information .tool__update__time span {
  line-height: 14px;
}

#page__information .tool__update__btn {
  margin: 0;
  margin-right: 1rem;
}

.none {
  display: none;
}
