.rwdTable {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    }
    
    .rwdTr, .rwdTitle_gorup {
    display: table-row;
    }
    
    .rwdTh, .rwdTd {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding: 5px 10px;
    }

    .rwdTd {
        &.right {
            text-align: right;
        }
        &.center {
            text-align: center;
        }
        &.left {
            text-align: left;
        }
    }
    .left {
        text-align: left;
    }
    
    /* 表格單雙行顏色變化 */
    .rwdTr:nth-of-type(odd), .rwdTitle_gorup:nth-of-type(odd) {
    background-color: #eaeaea;
    }
    
    /* 表頭背景藍色 */
    .rwdTh {
    background-color: #188EBE;
    color: #ffffff;
    }
@media (max-width: 900px) {
    /* 增加外框線 */
    .rwdTable{
    border: 1px solid #188EBE;;
    }
    
    /* 將表格中間的空間刪掉 */
    .rwdTable {
    border-spacing: 0px;
    }
    
    /* 隱藏表頭列 */
    .rwdTr:first-of-type {
    display: none;
    }
    
    .rwdTd {
    display: table;
    padding: 0;
    width: 100%;
    text-align: right;
    }
    
    .rwdTd:before{
    content: attr(data-th);
    display: table-cell;
    font-weight: bold;
    color: #fff;
    padding: 3px 10px;
    white-space: nowrap;
    // text-align: left !important;
    text-align: justify;
    width: 4rem;
    background-color: #188EBE;
    vertical-align: top;
    }
    
    .rwdTd span{
    padding: 3px 10px;
    display: inline-block;
    }
    .rwdTr:nth-of-type(odd), .rwdTitle_gorup:nth-of-type(odd) {
    background-color: #e8f6ff;
    }
}