/* 切頁 css */
.textBox {
    white-space: pre;
}
.page__box {
    margin: 1rem 0;
    &__input {
        width: 3rem;
    }
}
.page__count {
    padding: 0 0.5rem;
    color: #4285f4;
}
.page__count:hover {
    cursor: pointer;
    text-decoration: underline;
}
.page__count.current {
    color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}