.switch__demo {
    display: inline-block;
    input {
        display: none;
    }
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: grey;
        display: block;
        border-radius: 25px;
        position: relative;
    }
    label:after {
        content: 'on';
        position: absolute;
        top: 3px;
        left: 5px;
        width: 19px;
        height: 19px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }
    input:checked + label {
        // background: #bada55;
        background-color: #7EC35A;
    }
    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }
}
