@import 'form';
@import 'page';
@import 'switch';
@mixin pad{
    @media (max-width: 900px) {
        @content
    }
}
*{
    box-sizing: border-box;
    // outline: blue solid 1px;
}
.nav {
    &__box {
        height: auto;
        padding: 0;
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 0;
        }
    }
    &__btn {
        display: inline-block;
        margin: 0 4rem;
        padding: .8rem 0;
        text-decoration:none;
        letter-spacing: 3px;
        text-indent: 3px;
        color: #727171;
        height: auto;
        text-align: center;
        &.current {
            border-bottom: #5067e6 3px solid;
        }
    }
}
#page__information {
    padding: .5rem;
    padding-top: 0;
    .tool {
        &__bar {
            padding: 0 .25rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: .5rem;
            @include pad {
                flex-wrap: wrap;
                margin-bottom: 1rem;
            }
            span {
                vertical-align: bottom;
                display: inline-block;
            }
        }
        &__update {
            &__time {
                @include pad {
                    margin-bottom: 1rem;
                }
                span {
                    line-height: 14px;
                }
            }
            &__btn {
                margin: 0;
                margin-right: 1rem;
            }
        }
    }
}
.none {
    display: none;
}