html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: "微軟正黑體", serif, sans-serif;
}

.card {
    width: 100vw;
    margin-bottom: 4px;
    position: relative;
}

.poster-wechat {
    background: url(../images/poster-wechat.jpg) center no-repeat;
}

.poster-ali {
    background: url(../images/poster-ali.jpg) center no-repeat;
}

.poster-pi {
    background: url(../images/poster-pi.jpg) center no-repeat;
}

.poster-jkos {
    background: url(../images/poster-jkos.png) center no-repeat;
}

.poster-all {
    background: url(../images/poster-all.png) center no-repeat;
}

[class*="poster-"] {
    height: 45vw;
    background-size: cover;
}

.content {
    height: 15vw;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    display: none;
}

.content p {
    color: white;
    font-size: 6vw;
    font-weight: bold;
    line-height: 10vw;
    position: relative;
    top: 15%;
    margin-left: 3vw;
}

.content img {
    position: absolute;
    bottom: 0;
    right: 7vw;
    height: 100%;
    width: auto;
}

/*=====================old ver============================*/

/*body {*/
/*background-color: gainsboro;*/
/*color: black;*/
/*font-family: '微軟正黑體';*/
/*}*/

/** {*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

/*ul {*/
/*list-style-type: none;*/
/*width: 100%;*/
/*}*/

/*h3 {*/
/*line-height: 40px;*/
/*font-size: 26px;*/
/*font-weight: bold;*/
/*}*/

/*li img {*/
/*float: left;*/
/*margin-left: 10px;*/
/*margin-right: 10px;*/
/*width: 80px;*/
/*height: 80px;*/
/*}*/

/*li p {*/
/*font-size: 14px;*/
/*}*/

/*li {*/
/*overflow: auto;*/
/*background-color: white;*/
/*margin-bottom: 1px;*/
/*}*/

/*a {*/
/*color: black;*/
/*text-decoration: none;*/
/*}*/
/*.set-style{*/
/*background-color: cadetblue;*/
/*}*/

/*.content {*/
/*display: none;*/
/*}*/