html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
    overflow: hidden;
}

body {
    background: url("/allpaypass/images/airAdsQrcode/bg-1280-720.png") no-repeat;
    background-position: center;
    background-size: cover;
}

img {
    width: 100%;
}

.intella-logo {
    position: absolute;
    top: 5%;
    left: 4%;
    width: 8%;
}

.qrcode-content {
    margin: 4% 0 0 0;
    text-align: center;
}

.qrcode-group {
    display: inline-block;
    width: 18%;
}

.scan2pay-logo {
    width: 68%;
    display: inline-block;
}

.qrcode-img {
    width: 100%;
    margin-top: 8%;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 3%;
    text-align: center;
}

.payment-method-logo-group {
    display: inline-block;
    width: 94%;
}

.payment-method-logo-group .row {
    margin-bottom: 4%;
}

.payment-method-logo-group [class^=column-] {
    display: inline-block;
}

.column-center {
    width: 15%
}

.column-center-padding{
    text-align: center;
    width: 50%;
}

.column-sides {
    width: 42%
}

.column-rectangular {
    width: 42%
}

.column-square {
    width: 13%;
}

.column-padding-right {
    padding-right: 14%;
}

.column-padding-left {
    padding-left: 14%;
}

/*---- device screen aspect ratio 1.25 to 1.4 for ipad and ipad pro ----*/
@media screen and (min-aspect-ratio: 5/4) and (max-aspect-ratio: 7/5) {

    body {
        background: url("/allpaypass/images/airAdsQrcode/background-main.png") no-repeat;
        background-position: center;
        background-size: cover;
    }

    img {
        width: 100%;
    }

    .intella-logo {
        position: absolute;
        top: 5%;
        left: 4%;
        width: 11%;
    }

    .qrcode-content {
        margin: 4% 0 0 0;
        text-align: center;
    }

    .qrcode-group {
        display: inline-block;
        width: 24%;
    }

    .scan2pay-logo {
        width: 68%;
        display: inline-block;
    }

    .qrcode-img {
        width: 100%;
        margin-top: 8%;
    }

    .footer {
        width: 100%;
        position: absolute;
        bottom: 5%;
        text-align: center;
    }

    .payment-method-logo-group {
        display: inline-block;
        width: 94%;
    }

    .payment-method-logo-group .row {
        margin-bottom: 4%;
    }
}