html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "微軟正黑體", "Times New Roman", Georgia, Serif;
}

.order-background {
    font-family: "微軟正黑體", "Times New Roman", Georgia, Serif;
    background-color: white;
    text-align: center;
}

.infor-list {
    width: 86%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #5cb85c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.allpay-intella {
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #5cb85c;
    font-size: 5.6vw;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.allpay-price span {
    font-size: 36px;
    line-height: 36px;
}

.allpay-table tr td{
    text-align: right;
}

.checkout-btn {
    width: 100%;
    border: none;
    border-radius: 0px;
    font-size: 18px;
    padding: 10px 0;
    background: #5cb85c;
    background: -moz-linear-gradient(top, #68D16F 0%, #5cb85c 100%);
    background: -webkit-linear-gradient(top, #68D16F 0%, #5cb85c 100%);
    background: linear-gradient(to bottom, #68D16F 0%, #5cb85c 100%);
}

/*========success page============*/
.transaction-successful{
    text-align: center;
}
.success-icon {
    background-color: #5cb85c;
    padding: 3%;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.success-icon img {
    width: 80px;
}

.success-icon p {
    padding-top: 10px;
    font-size: 16px;
}

.success-intella {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 5.6vw;
}

/*==========================*/
.back-dialog {
    display: none;
    width: 80%;
    height: 200px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 2px 5px 1px rgb(68, 68, 68);
}

.back-dialog p {
    padding: 25px 0;
    margin: 0;
    background-color: whitesmoke;
}

.dialog-btn {
    position: relative;
    width: 100%;
    height: 120px;
}

.dialog-btn div {
    position: absolute;
    width: 100%;
    height: 52px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.dialog-btn button {
    display: inline-block;
    width: 40%;
    height: 50px;
    margin: 1%;
    border-radius: 8px;
    border: none;
    padding: 10px 0;
}

.dialog-btn #dialog-yes {
    background-color: #6D885D;
    color: white;
}

.dialog-btn #dialog-no {
    background-color: #B3282B;
    color: white;
}