html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", "WenQuanYi Zen Hei", "Times New Roman", Georgia, Serif;
}

a {
    text-decoration: none;
}

button:focus {
    outline: 0;
}

img {
    width: 100%;
}

.header {
    width: 100%;
    height: 11vh;
    background: url("/allpaypass/images/chiayiLantern/scan2pay.png") no-repeat center;
    background-size: cover;
}

.price-title {
    position: relative;
    background-size: cover;
    height: 22vh;
}

.input-block {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 82px;
    text-align: center;
}

.caption-currency-unit,
.caption-order-quantity {
    color: #5A5D5D;
    font-size: 18px;
}

.separation-line {
    width: 86%;
    border-top: 1px solid #CCCCCC;
    margin-top: 0;
}

.row-spinner {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 10%;
}

.block-spinner {
    border: 1px solid #BE3D39;
    height: 15vh;
    width: 80%;
    max-width: 326px;
    display: inline-block;
    padding: 2px;
    border-radius: 7px;
}

.form-group-spinner {
    display: flex;
    width: 100%;
    height: 100%;
}

.btn-spinner {
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;
    position: relative;
    color: white;
    border-radius: 6px;
    background: #9e3043;
    background: -moz-linear-gradient(left, #9e3043 0%, #be3d39 5%, #be3d39 50%, #be3d39 95%, #9e3043 100%);
    background: -webkit-linear-gradient(left, #9e3043 0%, #be3d39 5%, #be3d39 50%, #be3d39 95%, #9e3043 100%);
    background: linear-gradient(to right, #9e3043 0%, #be3d39 5%, #be3d39 50%, #be3d39 95%, #9e3043 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e3043', endColorstr='#9e3043', GradientType=1); /* IE6-9 */
}

.btn-spinner img {
    width: 50%;
}

.ticket-number {
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
    max-width: 180px;
    font-size: 42px;
    border: none;
    background-color: white;
    text-align: center;
    color: #5A5D5D;
}

.footer-btn {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
}

.chiayi-lantern-btn {
    width: 40%;
    height: 6vh;
    font-weight: 500;
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", Georgia, Serif;
    border-radius: 4px;
    display: inline-block;
    margin: 0 2%;
}

.chiayi-lantern-pay {
    background-color: #EE7800;
    font-size: 18px;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
}

.chiayi-lantern-cancel {
    background-color: #CDCCC8;
    color: #777672;
    border: none;
}

.customized .input-block span,
.customized .optional-price {
    display: inline-block;
    line-height: 46px;
    font-size: 40px;
    color: #BE3D39;
}

/*======== line pay btn ============*/
#linepay-btn {
    border-radius: 25px;
}

#linepay-btn img {
    width: 84%;
}

/*=============apple pay btn================*/

.apple-pay-button {
    visibility: hidden;
    display: inline-block;
    width: 100%;
    position: relative;
    border-radius: 4px;
    border: 1px solid rgb(150, 150, 150);
    height: 100%;
    vertical-align: middle;
}

.apple-pay-button img {
    width: 80%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.apple-pay-button.visible {
    visibility: visible;
}

.apple-pay-button:active {
    background-color: rgb(200, 200, 200);
}