html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: whitesmoke;
    font-family: "微軟正黑體", sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-callout: none;
    touch-action: manipulation;
}

button:focus {
    outline: 0;
}

.header404 {
    display: inline-block;
    width: 100%;
    height: 75px;
    /*color: #3D3C3C;*/
    font-family: "微軟正黑體", sans-serif;
    text-align: center;
    background-color: whitesmoke;
    position: relative;
}

.input-style {
    padding: 14px;
    border-top: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
    text-align: center;
    background-color: white;
    position: relative;
}

p.ntd {
    position: absolute;
    line-height: 46px;
    font-size: 28px;
    color: gray;
    display: inline-block;
    left: 10px;
}

#return-num {
    display: none;
}

.return-btn {
    background-color: transparent;
    width: 40px;
    /*height: 23px;*/
    padding: 0;
    border: none;
    position: absolute;
    right: 15px;
    bottom: 18px;
}

#return-num img {
    width: 100%;
}

.keyboard {
    background-color: transparent;
    position: fixed;
    /*bottom: 5%;*/
    left: 0;
    right: 0;
    width: 90%;
    margin-left: 5%;
    margin-top: 8%;
    text-align: center;
}

.optional-price {
    width: 90%;
    height: 46px;
    line-height: 46px;
    font-size: 38px;
    text-align: center;
    color: #3D3C3C;
    font-family: "微軟正黑體", sans-serif;
    border: none;
    padding: 0;
}

.btn-style {
    color: #3D3C3C;
    font-family: "微軟正黑體", sans-serif;
    /*font-size: 30px;*/
    font-weight: bold;
    width: 32%;
    height: 14vh;
    background-color: transparent;
    border: none;
    margin: 0;
    border-radius: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

.btn-style button {
    border: none;
    background-color: transparent;
    width: 90%;
    height: 90%;
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    position: relative;
}

.btn-style button div {
    display: inline-block;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding: 0;
    line-height: 64px;
    font-size: 36px;
    text-align: center;
}

#clear div {
    color: white;
    background-color: #CC1417;
    border-color: #CC1417;
}

#ok div {
    color: white;
    background-color: #8BBA29;
    border-color: #8BBA29;
}

#clear .zoom {
    z-index: 1;
    background-color: #B81216;
}

#ok .zoom {
    background-color: #7BA624;
    z-index: 1;
}

.zoom {
    width: 0px;
    height: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    right: 0;
    left: 0;
    top: 50%;
    z-index: -1;
    border-radius: 50%;
    background-color: #BEE076;
    opacity: 0.4;
}
