html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", "WenQuanYi Zen Hei", "Times New Roman", Georgia, Serif;
}

a {
    text-decoration: none;
}

button:focus {
    outline: 0;
}

img {
    width: 100%;
}

.header {
    width: 100%;
    height: 11vh;
    background: url("/allpaypass/images/scan2pay.png") no-repeat center;
    background-size: cover;
}

.price-title {
    position: relative;
    background-size: cover;
    height: 28vh;
}

.input-block {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    text-align: center;
}

.input-block span {
    display: inline-block;
    line-height: 46px;
    font-size: 20px;
    color: #85BC20;
}

.optional-price {
    width: auto;
    max-width: 250px;
    height: 46px;
    line-height: 46px;
    font-size: 36px;
    text-align: left;
    color: #85BC20;
    background-color: transparent;
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", Georgia, Serif;
    padding: 0;
    border: none;
}

.input-cursor{
    padding-left: 20px;
}

.keyboard {
    height: 55vh;
    width: 100%;
}

.k-row {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #e3e3e3;
}

.k-btn {
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;
    border: 1px solid rgb(200,200,200);
    background-color: #ffffff;
    position: relative;
    margin: 5px;
    border-radius: 10px;
}

.k-btn:active{
    background-color: rgba(160, 160, 160, 0.6);
}

.k-number {
    font-size: 28px;
    color: rgb(155, 155, 155);
}

.k-return-btn img {
    width: 35%;
    max-width: 42px;
}

.child-flex {
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.k-delete {
    font-size: 18px;
    color: white;
    background-color: #A0A0A0;
    font-weight: 300;
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", Georgia, Serif;
}

.k-delete:active{
    background-color: #A0A0A0;
    opacity: 0.6;
}

.k-pay {
    font-size: 18px;
    color: white;
    background-color: #85BC20;
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", Georgia, Serif;
    overflow: hidden;
    margin: 0;
    border-radius: 0;
}

.k-pay:active {
    background-color: #85BC20;
    opacity: 0.6;
}

.k-pay img {
    height: 100%;
    object-fit: contain;
}

/*=============apple pay btn================*/

.safari-btn-style img {
    height: 9vh;
    object-fit: contain;
}

.apple-pay h2 {
    font-weight: 300;
    font-size: xx-large;
}

.apple-pay p {
    font-weight: 300;
}

.apple-pay {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.apple-pay-button {
    /*-webkit-appearance: -apple-pay-button;*/
    /*-apple-pay-button-type: buy;*/
    visibility: hidden;
    display: inline-block;
    height: 11vh;
    width: 100%;
    /*background-image: -webkit-named-image(apple-pay-logo-black);*/
    background-size: 46%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: 20% 50%;
    border: none;
    border: 1px solid rgb(200,200,200);
    position: relative;
}

.apple-words{
    position: absolute;
    top:0;
    bottom: 0;
    left: 46%;
    right: 0;
    margin: auto;
    font-size: 20px;
    height:30px;
    width: 60px;
}

.apple-pay-button.visible {
    visibility: visible;
}

.apple-pay-button:active {
    background-color: rgb(200, 200, 200);
}

/* ===========animate============== */

/*.zoom {*/
    /*width: 0px;*/
    /*height: 0px;*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*margin: auto;*/
    /*right: 0;*/
    /*left: 0;*/
    /*top: 50%;*/
    /*z-index: -1;*/
    /*border-radius: 50%;*/
    /*background-color: rgba(133, 188, 32, 0.2);*/
    /*opacity: 0.3;*/
/*}*/

/*.blink {*/
    /*animation-duration: 1s;*/
    /*animation-name: blink;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
/*}*/

/*@keyframes blink {*/
    /*0% {*/
        /*opacity: 1;*/
    /*}*/
    /*50% {*/
        /*opacity: 0;*/
    /*}*/
    /*100% {*/
        /*opacity: 1;*/
    /*}*/
/*}*/

/*.cursor {*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*color: #85BC20;*/
/*}*/

/*-----------dialog------------*/
.back-dialog {
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", "WenQuanYi Zen Hei", Georgia, Serif;
    display: none;
    width: 87%;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    box-shadow: 0px 2px 5px 1px rgb(68, 68, 68);
}

.warning-bg {
    height: 60px;
    background-color: #E94B24;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.warning-bg img {
    margin: 12px;
    width: 36px;
}

.instructions {
    height: 80px;
    position: relative;
}

.instructions p {
    height: 30px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
}

.option-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    display: flex;
    font-size: 18px;
}

.dialog-btn {
    border: 1px solid rgb(155, 155, 155);
    border-bottom: none;
    background-color: transparent;
    flex: 1;
}

.dialog-btn.btn-no {
    color: #E94B24;
    font-weight: 700;
    border-left: none;
    border-right: none;
}

.dialog-btn.btn-no {
    border-right: none;
}

/*------------------------------*/
.dialog-opacity-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: black;
    opacity: 0.8;
    z-index: 15;
}

#loading-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: black;
    opacity: 0.9;
    z-index: 30;
    font-size: 20px;
    text-align: center;
}
/*========loading animate=======*/
.loading-info {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: white;
    height: 100px;
    text-align: center;
}

.loader {
    margin: 25px auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0 -10px 0 0 #ffffff,
        16px -10px 0 0 rgba(255, 255, 255, 0.2),
        -16px -10px 0 0 rgba(255, 255, 255, 0.2);
    }
    33.3% {
        box-shadow: 0 -10px 0 0 rgba(255, 255, 255, 0.2),
        16px -10px 0 0 rgba(255, 255, 255, 0.2),
        -16px -10px 0 0 rgba(255, 255, 255, 0.2);
    }
    66.6% {
        box-shadow: 0 -10px 0 0 rgba(255, 255, 255, 0.2),
        16px -10px 0 0 rgba(255, 255, 255, 0.2),
        -16px -10px 0 0 #ffffff;
    }
}

@keyframes load5 {
    0%,
    100% {
        box-shadow: 0 -10px 0 0 #ffffff,
        16px -10px 0 0 rgba(255, 255, 255, 0.2),
        -16px -10px 0 0 rgba(255, 255, 255, 0.2);
    }
    33.3% {
        box-shadow: 0 -10px 0 0 rgba(255, 255, 255, 0.2),
        16px -10px 0 0 #ffffff,
        -16px -10px 0 0 rgba(255, 255, 255, 0.2);
    }
    66.6% {
        box-shadow: 0 -10px 0 0 rgba(255, 255, 255, 0.2),
        16px -10px 0 0 rgba(255, 255, 255, 0.2),
        -16px -10px 0 0 #ffffff;
    }
}

/*---------------------------------*/
.copyright-icon {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 20px;
    width: 32%;
    text-align: center;
    z-index: -1;
}
.copyright-icon.webagent {
    position: static;
    padding-top: 10px;
}