body {
    /*line-height: 1;*/
    margin: 0;
    padding: 0;
    height: 100%;
    border:none;
    font-family: '微軟正黑體', sans-serif;
    /*background: lightgray;*/
}

/*初始化*/
p, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: dimgray;
}

/*初始化*/
ul, ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

section {
    width: 100%;
    min-height: 100vh;
    background: white;
    text-align: center;
}

table {
    font-size: 3vw;
}

table span{
    color: orangered;
}

.row {
    display:block;
    position: relative;
    width: 100%;
    overflow : hidden;
}

[class*="col-"] {
    /*position: relative;*/
    float: left;
    /*display: inline-block;*/
    width: 100%;
}

.col-7 {
    width: 70%;
}

.col-3 {
    width: 30%;
}

.title {
    /*background-color: WhiteSmoke;*/
    background-color: #EDFCEE;
    padding-top: 1vh;
    padding-bottom: 4vh;
}

.title h3 {
    font-size: 6vw;
    font-weight: bold;
    color: green;
    margin: 0;
    padding: 20px 0;
}

.title p {
    font-size: 4vw;
}

.confirm-number p {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    color: red;
    font-size: 10vw;
    font-weight: bolder;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.order {
    padding: 2vh 5vw;
    border-bottom: 1px solid lightgray;
}

.order p {
    text-align: left;
    /*color: dimgray;*/
    font-size: 3.2vw;
    line-height: 150%;
}

.prompt {
    text-align: left;
    border-bottom: 1px solid lightgray;
}

.sub-title {
    font-weight: bold;
    background-color: #EDFCEE;
    border-bottom: 1px solid lightgray;
    padding: 2vh 5vw;
    color: black;
    font-size: 4vw;
}

.prompt-describe {
    font-size: 3.2vw;
    line-height: 150%;
    /*color: dimgray;*/
    padding: 2vh 5vw;
}

.sub-prompt{
    font-size: 3.2vw;
    padding: 2vh 5vw;
}

.button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 8vw;
    height: 8vw;
    font-size: 6vw;
    border: 1px solid lightgray;
    width: 90%;
    display: inline-block;
    border-radius: 5px;
    margin-top: 4vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    background: #D6F4D4 ;
    background: -webkit-linear-gradient(top, #E3F9E4  , #D6F4D4 );
    background: -moz-linear-gradient(top, #E3F9E4  , #D6F4D4 );
    background: -o-linear-gradient(top, #E3F9E4  , #D6F4D4 );
    background: -ms-linear-gradient(top, #E3F9E4  , #D6F4D4 );
    background: linear-gradient(top, #E3F9E4  , #D6F4D4 );
}