html, body, img, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    -webkit-touch-callout: none;
    touch-callout: none;
    touch-action: manipulation;
    font-family: "微軟正黑體", "sans-serif", "serif";
}

/*body {*/
    /*background-color: #F2F2F2;*/
/*}*/

a {
    text-decoration: none;
}

img {
    width: 100%;
}

button:focus {
    outline: 0;
}

/*========================*/
p {
    text-align: center;
    color: #5a5d5d;
    font-weight: 500;
    font-size: 20px;
    margin: 22px 0;
}

.title-bar {
    width: 100%;
    padding: 0;
    margin: 0;
}

.title-bar img {
    width:100%;
}

.title-bar .banner__base {
    height: 55px;
    object-fit: contain;
    background-color: #a0be5a;
}

.title-bar .banner__ad {
    max-height: 200px;
    object-fit: contain;
}

.pay-method.size {
    max-width: 400px;
    margin: auto;
}

.point-icon{
    background: url("/allpaypass/images/point-icon.png") center no-repeat;
    background-size: contain;
    padding: 10px 15px 0 15px;
}

.pay-style {
    display: inline-block;
    width: 40%;
    margin-left: 6.5%;
    margin-bottom: 4%;
}

.pay-btn {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4%;
    box-shadow: 0px 1px 2px 1px #999899;
}

/*==========dialog===========*/
.move-to-safari {
    display: none;
    background-color: white;
    width: 87%;
    height: auto;
    padding-bottom: 20px;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 1px grey;
    text-align: center;
    z-index: 20;
}

.safari-icon {
    display: inline-block;
    width: 60px;
    box-shadow: 0px 1px 3px 1px grey;
    border-radius: 5px;
}

#close-dialog {
    border: none;
    border-radius: 5px;
    width: 40px;
    background-color: transparent;
    margin: 7px;
    right: 0;
    position: absolute;
}

.dialog-tips {
    text-align: center;
}

.dialog-tips img {
    width: 40px;
    vertical-align: middle;
}

.dialog-tips span {
    color: #5A5D5D;
    font-weight: bold;
}

/*==========common dialog===========*/

.common-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F5A32D;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.common-tips {
    margin-top: 90px;
}

.common-tips p {
    margin-bottom: 5px;
    font-size: 16px;
}

.common-copy {
    padding: 0 25px;
    margin-top: 15px;
}

.common-copy p {
    font-size: 4.3vw;
    margin: 10px 0;
}

.common-copy .copy-btn {
    width: 70%;
    margin-top: 0px;
}

.copy-btn.copy-green{
    width: 90%;
}

.copy-btn:active {
    background-color: #EEEEEE;
}

/*==========chrome dialog===========*/
.chrome-to-safari {
    display: none;
    background-color: white;
    width: 87%;
    height: auto;
    padding-bottom: 20px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 1px grey;
    text-align: center;
    z-index: 20;
}

.dialog-opacity-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: black;
    opacity: 0.8;
    z-index: 1;
}

#chrome-to-safari {
    z-index: 20;
}

.chrome-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #35B597;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chrome-title button, .common-title button {
    border: none;
    background: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: -30px;
}

.chrome-step {
    margin-top: 90px;
    text-align: center;
    font-size: 20px;
    color: #999799;
    font-weight: bold;
}

.chrome-step p {
    margin: 0;
    color: #5B5D5D;
    font-size: 5vw;
}

.copy-btn {
    background-color: #F5A32D;
    padding: 6px;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    font-family: "微軟正黑體", "sans-serif", "serif";
}

.copy-btn.copy-green{
    background-color: #35B597;
}

#url-save{
    display: none;
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5%;
    text-align: center;
    background-color: rgba(100,100,100,0.4);
    color: white;
    border-radius: 10px;
    width: 85px;
    height: 85px;
}

div#url-save img {
    width: 16px;
    margin: 20px 0 5px 0;
}

div#url-save p {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

/*==========app no install dialog============*/
.app-no-install{
    display: none;
    background-color: white;
    width: 87%;
    height: 135px;
    position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 1px grey;
    text-align: center;
    color: #5B5D5D;
    z-index: 20;
}
.close-no-install{
    color: #85BC20;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    height: 60px;
    border:none;
    font-family: "微軟正黑體", "sans-serif", "serif";
}

.no-install-describe{
    border-bottom: 1px solid lightgray;
    padding: 11px 0;
}

.no-install-describe p{
    margin: 0;
    margin-bottom: 4px;
    font-size: 18px;
}

/*=============================*/
.copyright-icon {
    position: relative !important;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0px;
    margin: auto;
    width: 32%;
    text-align: center;
}
/*================================================*/
@media screen and (orientation: landscape) {

    .copyright-icon {
        bottom: auto;
        z-index: -1;
    }

}

@media screen and (max-width: 320px) {

    .copy-btn {
        font-size: 14px;
    }

}