html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "微軟正黑體", "Times New Roman", Georgia, Serif;
    color:#202020;
}

button:focus {
    outline: 0;
}


.order-background {
    font-family: "微軟正黑體", "Times New Roman", Georgia, Serif;
    background-color: white;
    text-align: center;
}

.infor-list {
    width: 86%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #86B13C;
    border-radius: 10px;
}

.allpay-intella {
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #86B13C;
    font-size: 5.6vw;
    font-weight: bold;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.allpay-intella p:first-child{
    font-size: 6.6vw;
}

.allpay-price span {
    font-size: 36px;
    line-height: 36px;
}

.allpay-table tr td {
    text-align: right;
}

.checkout-btn {
    display: inline-block;
    width: 48%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background: #77B300;
}
#credit-pay{
    display: none;
}

.opacity{
    opacity: 0.4;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
.credit-pay-dialog {
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
    width: 86%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
    z-index: 10;
    padding: 10px;
}

.table{
    margin-bottom: 0;
}

.table>tbody>tr>th{
    padding: 12px 8px;
}
/*=================apple=================*/
/*
Copyright (C) 2016 Apple Inc. All Rights Reserved.
See LICENSE.txt for this sample’s licensing information

Abstract:
Styles the example site, as well as the Apple Pay button using -webkit-named-image
*/

/*body {*/
    /*font-family: -apple-system, "Helvetica Neue", "Lucida Grande";*/
    /*background: linear-gradient(180deg, #ffffff, #d7d7d7);*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
/*}*/

.apple-pay h2 {
    font-weight: 300;
    font-size: xx-large;
}

.apple-pay p {
    font-weight: 300;
}

.apple-pay {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.apple-pay-button {
    /*-webkit-appearance: -apple-pay-button;*/
    /*-apple-pay-button-type: buy;*/
    visibility: hidden;
    display: inline-block;
    width:120px;
    height: 76px;
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-size:66%;
    background-repeat: no-repeat;
    background-color: #202020;
    background-position: 50% 50%;
    border-radius: 10px;
    margin:0 auto;
    transition: background-color .15s;
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,1);
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,1);
}

.apple-pay-button.visible {
    visibility: visible;
}

.apple-pay-button:active {
    background-color: rgb(152, 152, 152);
}

/*========button col====*/
.payment-method{
    text-align: left;
    padding: 12px 8px;
    font-weight:bold ;
}
.button-col{
    display: inline-block;
    width:50%;
    height:70px;
}

.button-col.col-left{
    float: left;
}

.button-col button{
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(60,60,60,1);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(60,60,60,1);
    box-shadow: inset 0px -3px 0px 0px rgba(60,60,60,1);
}

.button-col button p{
    color: white;
    font-size: 14px;
}

#credit-icon{
    width:36%;
}

