html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: "微軟正黑體", "Times New Roman", Georgia, Serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    font-size: 20px;
    color: #202020;
}

input:focus,
button:focus {
    outline: 0;
}

.reset-dialog {
    position: absolute;
    width: 250px;
    height: 420px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.reset-logo {
    text-align: center;
}

.reset-logo img {
    width: 60%;
}

.reset-dialog form {
    padding: 12% 5% 0 5%;
}

.input-group {
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 15%;
    padding-bottom: 5px;
    border-image: linear-gradient(to left, #88C142 0%, #B4D349 50%, #88BB41 100%);
    border-image-slice: 1;
}

.password-check{
    margin-bottom: 40%;
}

.lock-icon {
    width: 30px;
    vertical-align: middle;
}

.eye-icon {
    width: 100%;
    vertical-align: middle;
}

input.reset-password {
    border: none;
    width: 65%;
    display: inline-block;
    color: #303030;
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family: "微軟正黑體", "Times New Roman", Georgia, Serif;
    padding-left: 5px;
}

.eye-btn{
    background-color: transparent;
    width: 25px;
    border: none;
    padding: 0;
    margin: 0;
}

.btn-submit {
    font-family: "微軟正黑體", "Times New Roman", Georgia, Serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: white;
    display: block;
    border: none;
    border-radius: 16px;
    width: 150px;
    height: 32px;
    margin: auto;
    background: #b4d349;
    background: -moz-linear-gradient(left, #b4d349 0%, #88c142 29%, #88bb41 100%);
    background: -webkit-linear-gradient(left, #b4d349 0%, #88c142 29%, #88bb41 100%); /* Chrome Safari*/
    background: linear-gradient(to right, #b4d349 0%, #88c142 29%, #88bb41 100%); /*Opera*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4d349', endColorstr='#88bb41', GradientType=1); /* IE6*/
}

.btn-submit:active {
    background-color: #7AA954;
}