.result-title-bar {
    background-color: #85BC20 ;
}

.result-title {
    margin-top: 2vh;
    text-align: center;
}

.result-title p {
    margin: 0;
    font-size: 22px;
}

/*------ result icon animate ------*/

.result-icon-animate{
    display: inline-block;
    width: 15%;
    position: relative;
    vertical-align: middle;
}

.result-zoom-bg {
    width: 100%;
}

.result-zoom {
    width: 0px;
    height: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    right: 0;
    left: 0;
    top: 50%;
    z-index: 1;
}

.result-company {
    margin-top: 1vh;
}
/*-----------dialog------------*/
.back-dialog {
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", "WenQuanYi Zen Hei", Georgia, Serif;
    display: none;
    width: 87%;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    box-shadow: 0px 2px 5px 1px rgb(68, 68, 68);
}

.warning-bg {
    height: 60px;
    background-color: #E94B24;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.warning-bg img {
    margin: 12px;
    width: 36px;
}

.instructions {
    height: 80px;
    position: relative;
}

.instructions p {
    height: 30px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
}

.option-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    display: flex;
    font-size: 18px;
}

.dialog-btn {
    border: 1px solid rgb(155, 155, 155);
    border-bottom: none;
    background-color: transparent;
    flex: 1;
}

.dialog-btn.btn-yes {
    color: #E94B24;
    font-weight: 700;
    border-left: none;
    border-right: none;
}

.dialog-btn.btn-no {
    border-right: none;
}
/*------------------*/
.dialog-opacity-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: black;
    opacity: 0.8;
    z-index: 1;
}
/*--------- clock -----------*/
.clock-group{
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", "WenQuanYi Zen Hei", Georgia, Serif;
    color:#A0A0A0;
    text-align: center;
    font-size: 17px;
}
/*-------- canvas tick animate ------*/
.canvas-tick-animate{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -5%;
}
/*-----------rwd--------*/

@media screen and (orientation: landscape) {

    .copyright-icon {
        bottom: auto;
        z-index: -1;
    }

}