html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", "WenQuanYi Zen Hei", "Times New Roman", Georgia, Serif;
}

img {
    width: 100%;
}

.bold {
    font-weight: 700;
}

.bg-grass {
    background-color: #85BC20;
}

.intella-company {
    font-size: 5.5vw;
    text-align: center;
    margin-top: 10vw;
}

.intella-company p {
    margin: 6px;
}

.order-info {
    padding: 0 20px;
}

.order-info p {
    margin: 0;
    padding: 0;
    text-align: right;
}

.order-dolor {
    font-size: 20px;
    margin-right: 10px;
}

.order-info .table td {
    padding: 8px 10px;
    line-height: 32px;
    vertical-align: middle;
}

.under-line {
    border-bottom: 1px solid #ddd;
}

.btn-confirm {
    text-align: center;
}

.btn-confirm button {
    width: 80%;
    color: white;
    font-size: 18px;
}

.copyright-icon {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 20px;
    width: 32%;
    text-align: center;
    z-index: -1;
}

.copyright-result {
    position: initial;
    margin: auto;
    width: 32%;
}

/*----- ts bank ----*/

.ts-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ts-bank .ts-title {
    padding: 5% 4% 3% 4%;
}

.ts-title p {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
}

.ts-bank .credit-type {
    display: inline-block;
    width: 8%;
}

.ts-bank .ts-logo-icon {
    width: 110px;
    float: right;
}

.creditcard-type {
    padding: 2% 4%;
}

.creditcard-type p {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0;
}

.row.creditcard-info {
    margin: 0;
}

.creditcard-info {
    padding: 0 4%;
}

.creditcard-info p {
    padding: 0;
    margin: 0;
}

.input-style {
    height: 29px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}

.creditcard-info select.select-style {
    width: 48%;
    height: 29px;
    padding: 2px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background-color: white;
}

.creditcard-info .date-block {
    margin: 10px 0;
}

.ts-content .col-60 {
    float: left;
    width: 60%;
}

.ts-content .col-40 {
    float: left;
    width: 40%;
}

.row.button-block {
    padding: 0 10px;
    margin: 0;
}

.ts-content .footer-button {
    background-color: rgba(133, 188, 32, 0.1);
    width: 100%;
    margin: 15px auto 0 auto;
    padding: 15px 0;
    flex-grow: 1;
}

.ts-content .footer-button .col-helf {
    float: left;
    width: 50%;
    text-align: center;
}

.ts-content .card-info-button {
    width: 86%;
    font-size: 16px;
}

.card-info-button.confirm {
    background-color: #85BC20;
    color: white;
}

.card-info-button.cancel {
    background-color: #CDCECA;
}

.ts-content .friendly-remind-words {
    font-size: 12px;
    color: #E61D4E;
    text-align: center;
}

.ts-table {
    margin: 0 4%;
    font-size: 16px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.ts-table .table {
    margin-bottom: 0;
}

.ts-table .table > tbody > tr > td,
.ts-table .table > tbody > tr > th,
.ts-table .table > thead > tr > td,
.ts-table .table > thead > tr > th {
    padding: 8px 0;
    border-top: none;
}

.ts-table .table-title {
    width: 90px
}

/*-----------dialog------------*/
.back-dialog {
    font-family: "微軟正黑體", "Heiti TC", "LiHei Pro", "WenQuanYi Zen Hei", Georgia, Serif;
    display: none;
    width: 87%;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    box-shadow: 0px 2px 5px 1px rgb(68, 68, 68);
}

.back-dialog .warning-bg {
    height: 60px;
    background-color: #E94B24;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.back-dialog .warning-bg img {
    margin: 12px;
    width: 36px;
}

.back-dialog .instructions {
    height: 80px;
    position: relative;
}

.back-dialog .instructions p {
    height: 30px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
}

.back-dialog .option-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    display: flex;
    font-size: 18px;
}

.back-dialog .dialog-btn {
    border: 1px solid rgb(155, 155, 155);
    border-bottom: none;
    background-color: transparent;
    flex: 1;
}

.back-dialog .dialog-btn.btn-no {
    color: #E94B24;
    font-weight: 700;
    border-left: none;
    border-right: none;
}

.back-dialog .dialog-btn.btn-no {
    border-right: none;
}

/*------------------------------*/
.dialog-opacity-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: black;
    opacity: 0.8;
    z-index: 15;
}

/*----------- ts bank rwd---------*/

@media screen and (min-width: 400px) and (min-height: 700px) {
    .ts-table {
        font-size: 20px;
    }

    .ts-table .table-title {
        width: 100px;
    }

    .ts-table .table {
        margin: 10px 0;
    }

    .creditcard-type > p {
        font-size: 20px;
        vertical-align: middle;
    }

    .creditcard-type .credit-type {
        width: 9%;
    }

    .creditcard-type {
        padding: 5% 4% 3% 4%;
    }

    .creditcard-info p {
        font-size: 20px;
    }

    .creditcard-info {
        padding: 0% 4% 3% 4%;
    }

    .input-style,
    .creditcard-info select.select-style {
        height: 32px;
    }

    .ts-content .friendly-remind-words {
        font-size: 13px;
    }
}

@media screen and (min-width: 358px) and (min-height: 638px) {
    .ts-table .table {
        margin: 10px 0;
    }

    .creditcard-type {
        padding: 5% 4% 3% 4%;
    }

    .creditcard-info {
        padding: 0% 4% 3% 4%;
    }
}

@media screen and (min-width: 358px) and (min-height: 558px) {
    .ts-table .table {
        margin: 10px 0;
    }

    .creditcard-type {
        padding: 4% 4% 2% 4%;
    }

    .creditcard-info {
        padding: 0% 4% 1% 4%;
    }
}

/*---------- rwd ---------*/
@media screen and (max-width: 320px) {

    .order-info .table td {
        padding: 5px 10px;
        line-height: 24px;
        vertical-align: middle;
    }

    .order-dolor {
        font-size: 20px;
        margin-right: 8px;
    }

    .intella-company p {
        margin: 2px;
    }
}

@media screen and (orientation: landscape) {

    .copyright-icon {
        bottom: auto;
        z-index: -1;
    }

}

/*----- invalid qr code and qr code expired and 404page----*/
.qrcode-status, .error-page {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.error-page {
    width: 300px;
    height: 320px;
}

p.maintain-info {
    display: block;
    text-align: left;
    color: #979797;
    font-size: 20px;
    font-weight: 700;
}