html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: whitesmoke;
    font-family: "微軟正黑體", sans-serif, Serif;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-callout: none;
    touch-action: manipulation;
}

img {
    width: 100%;
}

button:focus {
    outline: 0;
}

.header {
    display: inline-block;
    width: 100%;
    /*color: #3D3C3C;*/
    font-family: "微軟正黑體", sans-serif, sans-serif;
    text-align: center;
    background-color: whitesmoke;
    height: 75px;
    position: relative;
}

.title-logo {
    position: absolute;
    width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cursor {
    position: absolute;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    right: 0;
    left: 5px;
    line-height: 44px;
    font-size: 38px;
    color: #8BBA29;
}

.input-style {
    padding: 14px;
    border-top: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
    text-align: center;
    background-color: white;
    position: relative;
}

p.ntd {
    position: absolute;
    line-height: 46px;
    font-size: 28px;
    color: gray;
    display: inline-block;
    left: 10px;
}

#return-num {
    display: none;
}

.return-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    position: absolute;
    width: 40px;
    /*height: 23px;*/
    right: 15px;
    bottom: 18px;
}

.keyboard {
    background-color: transparent;
    position: fixed;
    /*bottom: 5%;*/
    left: 0;
    right: 0;
    width: 90%;
    margin-left: 5%;
    margin-top: 8%;
    text-align: center;
}

.optional-price {
    width: 90%;
    height: 46px;
    line-height: 46px;
    font-size: 38px;
    text-align: center;
    color: #3D3C3C;
    font-family: "微軟正黑體", sans-serif;
    padding: 0;
    border: none;
}

.btn-style {
    color: #3D3C3C;
    font-family: "微軟正黑體", sans-serif;
    /*font-size: 30px;*/
    font-weight: bold;
    width: 32%;
    height: 14vh;
    background-color: transparent;
    border: none;
    margin: 0;
    border-radius: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

.keyboard .btn-style button {
    border: none;
    background-color: transparent;
    width: 90%;
    height: 90%;
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    position: relative;
}

.keyboard .btn-style button div {
    display: inline-block;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding: 0;
    line-height: 64px;
    font-size: 36px;
    text-align: center;
}

.keyboard #clear div {
    color: white;
    background-color: #CC1417;
    border-color: #CC1417;
}

.keyboard #ok div {
    color: white;
    background-color: #8BBA29;
    border-color: #8BBA29;
}

#clear .zoom {
    z-index: 1;
    background-color: #B81216;
}

#ok .zoom {
    background-color: #7BA624;
    z-index: 1;
}

.zoom {
    width: 0px;
    height: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    right: 0;
    left: 0;
    top: 50%;
    z-index: -1;
    border-radius: 50%;
    background-color: #BEE076;
    opacity: 0.3;
}

/*============= layout ==============*/

.page-layout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    display: none;
}

/*-------- allpay ---------*/

.order-background {
    font-family: "微軟正黑體", "Times New Roman", Georgia, Serif;
    background-color: white;
    text-align: center;
}

.bgc-EFEFEF {
    background-color: #EFEFEF;
}

.infor-list {
    width: 86%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #236DB6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.allpay-intella {
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #236DB6;
    font-size: 5.6vw;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.allpay-price span {
    font-size: 36px;
    line-height: 36px;
}

.allpay-table tr td, .transaction-successful tr td {
    text-align: right;
}

.checkout-btn {
    width: 100%;
    border: none;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    padding: 10px 0;
    background: #236DB6;
    background: -moz-linear-gradient(top, #007ACC 0%, #236DB6 100%);
    background: -webkit-linear-gradient(top, #007ACC 0%, #236DB6 100%);
    background: linear-gradient(to bottom, #007ACC 0%, #236DB6 100%);
}

.checkout-btn:active {
    background: #236DB6;
}

#allpay-check {
    display: none;
}

.all-recipient {
    width: 100%;
    background-color: #042D4B;
    color: white;
    padding: 10px;
    text-align: left;
}

#allpay-check .table {
    width: 94%;
    margin-left: 3%;
}

#allpay-check .table td:nth-child(1) {
    text-align: left;
}

#allpay-check .table td:nth-child(2) {
    text-align: right;
}

#allpay-check .table td.all-payment {
    text-align: center;
    color: #006EBD;
    font-size: 20px;
    padding-top: 16px;
    border-bottom: 2px solid #006EBD;
}

#allpay-check .table td.all-payment span {
    font-size: 34px;
}

.all-btn {
    border: none;
    color: white;
    background: #0070B4;
    width: 49.8%;
    position: fixed;
    bottom: 0;
    padding: 15px 0;
}

.all-btn.all-btn-left {
    left: 0;
}

.all-btn.all-btn-right {
    right: 0;
}

.bg-opacity {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.alert-check {
    border-radius: 15px;
    border: 1px solid gray;
    background-color: white;
    color: gray;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    top: 18%;
    padding: 0 10px;
    padding-top: 10px;
    font-size: 14px;
    display: none;
}

.alert-check p:first-child {
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.alert-check .table tr td {
    border: none;
    padding: 5px;
}

#allpay-check .alert-check .table td.all-payment {
    padding-top: 5px;
}

.alert-check .alert-btn {
    border: none;
    border-top: 1px solid lightgray;
    background-color: white;
    width: 49%;
    color: #006EBD;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}

/*-------allpay paid------*/

#allpay-paid {
    display: none;
    padding-top: 20px;
    height: 90vh;
}

.bg-img {
    background: url(../../allpaypass/images/allpay-bg.png) no-repeat center;
    background-size: cover;
    width: 312px;
    height: 292px;
    margin: auto;
    padding-top: 50px;
}

.all-succ-title {
    font-size: 20px;
    font-weight: bold;
    color: #92AA4F;
}

.allpay-payee {
    color: black;
    display: inline-block;
    padding: 10px 36px;
}

.allpay-payee p span {
    font-size: 30px;
}

#allpay-paid .table {
    width: 96%;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 0;
}

#allpay-paid .table tr:first-child td {
    border-top: none;
}

#paid-success-btn {
    border: none;
    color: white;
    background: #0070B4;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10vh;
}

/*----success result-------*/

#allpay-success {
    display: none;
}

.transaction-successful {
    text-align: center;
}

.success-icon {
    background-color: #236DB6;
    padding: 3%;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.success-icon img {
    width: 80px;
}

.success-icon p {
    padding-top: 10px;
    font-size: 16px;
}

.success-intella {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 5.6vw;
}

/*-------- ali ---------*/

#ali-mycounter {
    background-color: #EFF0F2;
    width: 100%;
    height: 100vh;
}

.ali-header {
    background-color: white;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    -moz-box-shadow: 0px 1px 3px gray;
    -webkit-box-shadow: 0px 1px 3px gray;
    box-shadow: 0px 1px 3px gray;
}

.ali-header-rwd {
    display: none;
}

.ali-header p {
    display: inline-block;
}

.mycounter {
    border-left: 1px solid lightgray;
    padding-left: 8px;
}

.ali-logo {
    width: 110px;
    display: inline-block;
}

.ali-header-right {
    float: right;
    line-height: 50px;
}

.ali-exchange-rate {
    width: 100%;
    padding-left: 4vw;
    padding-top: 2vw;
}

.cny-color {
    color: orange;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.ali-order-infor {
    position: relative;
    background-color: white;
    padding: 2%;
    width: 90%;
    margin-left: 5%;
    -moz-box-shadow: 0px -3px 3px grey;
    -webkit-box-shadow: 0px -3px 3px grey;
    box-shadow: 0px -3px 3px grey;
}

.ali-infor-title {
    display: inline-block;
    position: absolute;
    right: 26px;
    top: -32px;
    padding: 5px;
    background-color: gray;
    color: white;
}

.ali-infor-title p {
    margin: 0;
}

.ali-account-balance {
    border: 2px solid cornflowerblue;
    padding: 15px;
    margin-bottom: 10px;
}

.ali-account-balance img {
    width: 15px;
    height: 15px;
    margin-bottom: 4px;
}

.ali-link {
    padding-top: 10px;
}

button.ali-btn {
    background-color: white;
    border: 1px solid lightgray;
    padding: 8px 24px;
    color: #4EB5E0;
    margin-bottom: 5px;
}

.icon-tick {
    background: url("../../allpaypass/images/success.png") no-repeat center;
    background-size: contain;
    padding: 15px;
}

.ali-password {
    border-radius: 4px;
    margin-bottom: 10px;
}

.ali-pay-check-btn {
    padding: 5px 16px;
    border: 1px solid #609FB8;
    border-radius: 20px;
    color: white;
    background: #236DB6;
    background: -moz-linear-gradient(top, #CEE4EF 0%, #65A6C0 100%);
    background: -webkit-linear-gradient(top, #CEE4EF 0%, #65A6C0 100%);
    background: linear-gradient(to bottom, #CEE4EF 0%, #65A6C0 100%);
    display: block;
}

#ali-loading,
#ali-success {
    display: none;
}

.loader-animate {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #DADADA;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    -webkit-animation: spin 1.4s linear infinite;
    animation: spin 1.4s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gray-bg {
    background-color: #EFF0F2;
    padding: 5vw 15vw;
}

.loading-block {
    background-color: white;
    padding: 5vw 8vw;
    border: 2px solid lightgray;
}

.ali-success-bg {
    padding: 5%;
}

.ali-success-block {
    background-color: #EDFFCD;
    padding: 2vw 5vw;
}

.ali-success-icon {
    width: 60px;
    float: left;
}

.ali-success-infor {
    padding-left: 20px;
    display: inline-block;
}

.ali-success-infor > p:first-child {
    font-weight: bolder;
}

/*---------weixin--------*/

#weixin {
    padding: 1%;
}

.wx-card-infor {
    border: 1px solid #D9EDF6;
    border-radius: 5px;
}

.wx-title {
    background-color: #D9EDF6;
    color: #4C7895;
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px;
}

.wx-intella {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}

.wx-card-infor .table {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.wx-card-infor .table tr td {
    border-top: none;
    padding: 2px 8px;
}

#wx-order-btn {
    border: none;
    border-radius: 5px;
    background-color: #347AB6;
    color: white;
    width: 92%;
    margin-left: 4%;
    margin-bottom: 1%;
    padding: 8px 0;
}

/*------loading block------*/

#wx-loading {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #E4E4E4;
    position: absolute;
    width: 50%;
    margin-left: 25%;
    top: 20%;
    padding: 0 10px;
    padding-top: 30px;
    text-align: center;
    display: none;
}

#wx-loading img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

#wx-loading p {
    font-size: 20px;
    font-weight: bold;
}

/*---loading animate-----*/

.loader {
    margin: 25px auto;
    font-size: 25px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0 -10px 0 0 #ffffff,
        16px -10px 0 0 rgba(255, 255, 255, 0.2),
        -16px -10px 0 0 rgba(255, 255, 255, 0.2);
    }
    33.3% {
        box-shadow: 0 -10px 0 0 rgba(255, 255, 255, 0.2),
        16px -10px 0 0 rgba(255, 255, 255, 0.2),
        -16px -10px 0 0 rgba(255, 255, 255, 0.2);
    }
    66.6% {
        box-shadow: 0 -10px 0 0 rgba(255, 255, 255, 0.2),
        16px -10px 0 0 rgba(255, 255, 255, 0.2),
        -16px -10px 0 0 #ffffff;
    }
}

@keyframes load5 {
    0%,
    100% {
        box-shadow: 0 -10px 0 0 #ffffff,
        16px -10px 0 0 rgba(255, 255, 255, 0.2),
        -16px -10px 0 0 rgba(255, 255, 255, 0.2);
    }
    33.3% {
        box-shadow: 0 -10px 0 0 rgba(255, 255, 255, 0.2),
        16px -10px 0 0 #ffffff,
        -16px -10px 0 0 rgba(255, 255, 255, 0.2);
    }
    66.6% {
        box-shadow: 0 -10px 0 0 rgba(255, 255, 255, 0.2),
        16px -10px 0 0 rgba(255, 255, 255, 0.2),
        -16px -10px 0 0 #ffffff;
    }
}

/*--------weixin anti theft------*/

#anti-theft {
    background-color: white;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    border: 1px solid gray;
    border-radius: 6px;
    text-align: center;
    display: none;
}

#anti-theft button {
    border: none;
    background-color: transparent;
    float: left;
    font-size: 22px;
    color: gray;
}

.anti-theft-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    padding-right: 16px;
}

.anti-payment {
    border-top: 1px solid #DEE5DD;
    font-weight: bold;
    padding: 10px 0;
}

.anti-payment p:nth-child(2) {
    font-size: 30px;
}

.anti-balance-search {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
}

.anti-balance-search img {
    width: 30px;
}

.anti-balance-search p {
    color: gray;
    display: inline-block;
}

.input-number {
    background: url("../../allpaypass/images/input-bg.png") no-repeat center;
    background-size: cover;
    width: 60vw;
    height: 10vw;
    border: 1px solid lightgray;
    margin: 18px 0;
    letter-spacing: 7.4vw;
    padding-left: 4vw;
}

/*--------weixin password keyboard---------*/
.pass-keyin {
    background-color: #E0E0E0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
}

.pass-keyin .btn-style {
    color: black;
    font-family: "微軟正黑體", sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 32%;
    height: 9vh;
    border: none;
    margin-bottom: 1px;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
}

#wx-back-btn,
#disable-btn {
    background-color: #D4D8DB;
}

#wx-back-btn img {
    width: 26px;
}

/*-----weixin success---------*/

#wx-success {
    width: 100%;
    height: 100vh;
    background-color: #F0EFF5;
    display: none;
}

.wx-success-header {
    padding: 3%;
    background-color: #F2F2F2;
}

.wx-success-icon {
    width: 30px;
}

.wx-success-title {
    color: #21B101;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    line-height: 30px;
    margin: 0;
}

.wx-success-infor {
    background-color: white;
    color: gray;
    padding-top: 26px;
}

.wx-intella {
    color: black;
    border-bottom: 1px solid lightgray;
}

.wx-intella p:nth-child(2) {
    font-size: 22px;
}

.wx-success-infor .table tr td:nth-child(2) {
    text-align: right;
}

.wx-success-infor .table > tbody > tr > td {
    padding: 5px;
    border: none;
}

@media screen and (max-width: 768px) {
    /*ali*/
    #ali-mycounter {
        font-size: 14px;
    }

    .ali-header-rwd {
        display: block;
    }

    .gray-bg {
        background-color: #EFF0F2;
        padding: 5vw 5vw;
    }

    .ali-success-block {
        font-size: 14px;
    }

    .ali-success-icon {
        width: 30px;
    }

    .ali-success-infor {
        padding-left: 20px;
        display: inline-block;
        width: calc(96% - 30px);
    }

    .ali-header-right {
        display: none;
    }

    .button.ali-btn {
        padding: 5px 18px;
    }
}