<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>intella</title>
    <link href="/allpaypass/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/allpaypass/css/scan2pay.css" rel="stylesheet"/>
    <link href="/allpaypass/css/result.css" rel="stylesheet"/>
    <script src="/allpaypass/js/jquery-3.2.1.min.js"></script>
    <script src="/allpaypass/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var orderNo = [[${orderNo}]];
        var totalFee = [[${totalFee}]];
        var merchant = [[${merchant}]];
        /*]]>*/
    </script>
</head>
<body>

<div>
    <div class="title-icon result-title-bar" id="title-bg-color">
        <img src="/allpaypass/images/scan2pay-white.png" draggable="false"/>
    </div>
    <div class="title-icon result-block">
        <div class="result-title">
            <div>
                <img src="/allpaypass/images/result-success-green.png" draggable="false"/>
            </div>
            <div>
                <p style="color:#85BC20;">交易成功</p>
            </div>
        </div>
    </div>
    <div>
        <img src="/allpaypass/images/result-line.png" draggable="false"/>
    </div>
    <div class="intella-company result-company">
        <p class="bold">香港商英特拉股份有限公司</p>
        <p class="bold">台灣分公司</p>
    </div>
    <div class="order-info">
        <table class="table">
            <tbody>
            <tr>
                <td>訂單金額</td>
                <td>
                    <p><span class="order-dolor bold" th:text="${totalFee}">0</span>元</p>
                </td>
            </tr>
            <tr>
                <td>商品名稱</td>
                <td>
                    <p th:text="${itemName}"></p>
                </td>
            </tr>
            <tr>
                <td>店家</td>
                <td>
                    <p th:text="${merchant}"></p>
                </td>
            </tr>
            <tr>
                <td>交易單號</td>
                <td>
                    <p th:text="${orderNo}"></p>
                </td>
            </tr>
            <tr>
                <td>交易日期</td>
                <td>
                    <p th:text="${tradedate}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="back-dialog" id="back-dialog">
    <div>
        <p >交易成功，返回交易選擇畫面</p>
    </div>
    <div class="dialog-btn">
        <div>
            <button type="button" id="dialog-yes" value="yes">是</button>
            <button type="button" id="dialog-no" value="cancel">否</button>
        </div>
    </div>
</div>

<script th:inline="javascript">
    //    <![CDATA[
    $(function () {
        detectUserAgent();
        var tradedate = [[${tradedate}]];
        var domain = window.location.origin + '/';
        if(tradedate !== null && tradedate !== "" && tradedate !== undefined){
            tradedate = tradedate.substring(0,4)+"-"
                +tradedate.substring(4,6)+"-"
                +tradedate.substring(6,8)+" "
                +tradedate.substring(8,10)+":"
                +tradedate.substring(10,12);
            $("#payment-data").text(tradedate);
        }

        if (window.history && window.history.pushState) {
            window.history.pushState('forward', null, '#forward');
            $(window).on('popstate', function () {
                $("#back-dialog").show();
            });
        }

        $(".dialog-btn div button").click(function () {
            var clickevent = $(this).val();
            switch (clickevent) {
                case "yes":
                    window.location.href = domain +"intella";
                    break;
                case "cancel":
                    $("#back-dialog").hide();
                    window.history.pushState('forward', null, '#forward');
                    break;
            }
        });
    });

    function detectUserAgent() {
        var ua = navigator.userAgent;
        if (/allPay/.test(ua)) {
            $("#title-bg-color").css("background", "#014A97");
        }else{
            $("#title-bg-color").css("background", "#85BC20");
        }
    }

    //    ]]>
</script>

</body>
</html>