<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <title>intella</title>
    <link href="/allpaypass/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/allpaypass/css/scan2pay.css" rel="stylesheet"/>
    <script src="/allpaypass/js/jquery-3.2.1.min.js"></script>
    <script src="/allpaypass/js/bootstrap.min.js"></script>
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    var orderNo = [[${randomId}]];
    var merchant = [[${merchant}]];
    var merchantName = [[${merchantName}]];
    var domain = window.location.origin + '/';
    var allpayDomain = [[${allpayDomain}]];

    /*]]>*/
</script>
<script type="text/javascript">
    console.log("merchant",merchant);
    //初始化 OMobiPay JS SDK
    window.OMobiPayAsyncInit = function () {

        OMobiPay.init({

            MerchantID: merchant,//'1812526', //測試用MerchantID，請自行帶入提供的MerchantID
            version: '2'
        });
        window.console.log(OMobiPay)
    };


    // Load the SDK asynchronously
    //   正式環境 "https://payment.allpay.com.tw/Scripts/ThirdParty/omobipay-thirdparty.min.js";
    //   測試環境 "https://payment-stage.allpay.com.tw/Scripts/ThirdParty/omobipay-thirdparty.min.js";
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.async = true;
        js.src = allpayDomain+"/Scripts/ThirdParty/omobipay-thirdparty.min.js"; // 自行設定正式環境或測試環境
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'omobipay-thirdparty-jssdk'));


</script>
<body>

<div>
    <div class="title-icon">
        <img src="/allpaypass/images/scan2pay.png" draggable="false" />
    </div>
    <div class="intella-company">
        <p class="bold">香港商英特拉股份有限公司</p>
        <p class="bold">台灣分公司</p>
    </div>
    <div class="order-info">
        <table class="table">
            <tbody>
            <tr>
                <td>訂單金額</td>
                <td>
                    <p><span class="bold" th:text="${totalFee}">0</span>元</p>
                </td>
            </tr>
            <tr>
                <td>店家</td>
                <td>
                    <p th:text="${merchantName}"></p>
                </td>
            </tr>
            <tr>
                <td>訂單序號</td>
                <td>
                    <p th:text="${orderNo}"></p>
                </td>
            </tr>
            <tr class="under-line">
                <td>交易日期</td>
                <td>
                    <p id="current-date"></p>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="btn-confirm">
            <button class="btn bg-grass" id="checkout_btn">確認付款</button>
            <input type="hidden" id="qrcodeAlias" th:value="${qrcodeAlias}"/>
        </div>
    </div>
    <div class="copyright-icon">
        <img src="/allpaypass/images/power-by.png" draggable="false" />
    </div>
</div>


<!--店家:<p th:text="${merchant}"></p>-->
<!--訂單編號:<p th:text="${orderNo}"></p>-->
<!--訂單金額:<p th:text="${totalFee}"></p>-->



<script type="text/javascript">
    var token;
    $(function () {

        $("#checkout_btn").click(function () {
            console.log(orderNo);
            console.log("domain= "+domain);


            $.ajax({
                url: "/allpaypass/api/allpay/php/" + orderNo,
                async: false,
                type: "GET",
                success: function (response) {
                    token = response;
                    console.log(response);

                },
                error: function () {
                    console.log("error");
                }

            });
            var TradeToken = token;// '9EC3C4C571CA435485C3D5F31B8A4D46' //TradeToken是由API取得
            var checkoutModule;
            checkoutModule = OMobiPay.checkoutWithTradeToken(
                {
                    TradeToken: TradeToken,            //交易權杖由伺服器端取得
                    redirectURL: domain+"allpaypass/api/allpay/redirect"   //轉跳目標設定

                });
            window.console.log("check "+checkoutModule)

        })


        var date = new Date();
        $("#current-date").text(dateFormat(date));

    });

    function dateFormat(d) {
        var mm = d.getMonth() + 1;
        var dd = d.getDate();
        var hh = d.getHours();
        var minutes = d.getMinutes();
        return [d.getFullYear(),
                (mm > 9 ? '' : '0') + mm,
                (dd > 9 ? '' : '0') + dd
            ].join('-') + " "
            + (hh > 9 ? '' : '0') + hh + ":"
            + (minutes > 9 ? '' : '0') + minutes;
    }
</script>

</body>
</html>