<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=0"/>
    <title>intella</title>
    <link href="/allpaypass/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <link href="/allpaypass/css/newKeyboard.css" rel='stylesheet' type='text/css'/>
    <link href="/allpaypass/css/customized.css" rel='stylesheet' type='text/css'/>
    <script src="/allpaypass/js/jquery-3.2.1.min.js"></script>
    <script src="/allpaypass/js/bootstrap.min.js"></script>
    <script src="/allpaypass/js/apple/index.js"></script>
    <script src="/allpaypass/js/apple/support.js"></script>
</head>
<body>

<div class="header"></div>

<div class="price-title customized">
    <div class="input-block">
        <p class="caption-currency-unit">消費金額( NT$ )</p>
        <div class="input-cursor">
            <span>$</span>
            <input id='price' class="optional-price" type="text" readonly="readonly" size="1" placeholder="0"/>
        </div>
    </div>
</div>
<hr class="separation-line"/>

<div class="row-spinner">
    <div>
        <p class="caption-order-quantity">購買數量</p>
    </div>
    <div class="block-spinner">
        <div class="form-group-spinner">
            <button id="spinner-minus" class="btn-spinner btn-left" type="button" value="minus">
                <img id="icon-minus" src="/allpaypass/images/chiayiLanternTicket/icon-minus.png" draggable="false"/>
            </button>
            <input id="ticket" class="ticket-number" type="text" readonly="readonly" value="1"/>
            <button id="spinner-plus" class="btn-spinner btn-right" type="button" value="plus">
                <img id="icon-plus" src="/allpaypass/images/chiayiLanternTicket/icon-plus.png" draggable="false"/>
            </button>
        </div>
    </div>
</div>
<div class="footer-btn">
    <button id='clear' class="k-btn chiayi-lantern-btn chiayi-lantern-cancel lock-btn" type="button" value="clear">取消
    </button>
    <div th:switch="${paymentMethod}" class="chiayi-lantern-btn" style="display:inline-block;">
        <div th:case="'apple'" class="apple-pay-button" onclick="applePayButtonClicked()" id="apple-pay">
            <img src="/allpaypass/images/chiayiLanternTicket/apple-pay.png" draggable="false"/>
        </div>
        <div id="ec-btn" style="padding: 0; margin: 0">
            <script src="/allpaypass/js/paymentECpay.js" th:attr="data-MerchantID=${merchantID},
                        data-SPToken=${spToken},data-PaymentType=${paymentType},data-PaymentName=${paymentName}">
            </script>
        </div>
        <button th:case="'ec'" id="fake-ec-btn" class="k-btn chiayi-lantern-pay safari-btn-style" type="button"
                value="ec">付款
        </button>
        <button th:case="'linepay'" id="linepay-btn" class="k-btn chiayi-lantern-pay safari-btn-style" type="button"
                value="linepay">
            <img src="/allpaypass/images/chiayiLanternTicket/line-pay.png" draggable="false"/>
        </button>
        <button th:case="'ts'" id="ts-btn" class="k-btn chiayi-lantern-pay safari-btn-style" type="button" value="ts">
            付款
        </button>
        <button th:case="*" class="k-btn chiayi-lantern-pay safari-btn-style" type="button" value="sure"
                id="other-method">付款
        </button>
    </div>
</div>

<div class="copyright-icon">
    <img src="/allpaypass/images/power-by.png" draggable="false"/>
</div>

<div id="loading-bg">
    <div class="loading-info">
        <p>載入中</p>
        <div class="loader"></div>
    </div>
</div>

<div class="back-dialog" id="back-dialog">
    <div class="warning-bg">
        <img src="/allpaypass/images/warning-icon.png" draggable="false"/>
    </div>
    <div class="instructions">
        <p>是否中斷交易?</p>
    </div>
    <div class="option-btn" id="option-btn">
        <button class="dialog-btn btn-yes" id="dialog-yes" type="button" value="yes">是</button>
        <button class="dialog-btn btn-no" id="dialog-no" type="button" value="cancel">否</button>
    </div>
</div>

<div class="dialog-opacity-bg" style="min-height: 100vh"></div>

<div style="display: none" th:text="${token}" id="token"></div>
<div style="display: none" th:switch="${paymentMethod}" id="paymentMethod">
    <p th:case="'apple'">apple</p>
    <p th:case="'ec'">ec</p>
    <p th:case="'ts'">ts</p>
    <p th:case="'linepay'">linepay</p>
    <p th:case="*">other</p>
</div>
<div style="display: none" th:text="${applePayHost}" id="applePayHost"></div>
<div style="display: none" th:text="${merchant}" id="merchant"></div>


<script th:inline="javascript">
    //    <![CDATA[

    $(function () {
        checkApplePayBrowse()

        var paymentMethod = [[${paymentMethod}]];
        if (paymentMethod == "linepay") {
            $("#clear").css("border-radius", "25px");
        }

        customStyleChange();

        var paymentType = [[${paymentType}]];
        if (paymentType !== null && paymentType !== "" && paymentType !== undefined) {
            document.getElementById("iframeECPay_" + paymentType).style.display = "block";
            document.getElementById("iframeECPayClose_" + paymentType).style.display = "block";
            document.getElementById("DivECPay_" + paymentType).style.display = "block";
        }

        $('img').bind('contextmenu', function (e) {
            return false;
        });

        var ios = /Mac|iPad|iPhone|iPod/i.test(navigator.userAgent);
        if (ios) {
            document.addEventListener('gesturestart', function (e) {
                e.preventDefault();
            }, false);
        }

        var money = [[${amount}]];
        console.log(money);
        inputSizeChange(money);
        $("#price").val(money);

        $(".footer-btn button").click(function () {
            if (!ios) {
                navigator.vibrate(30);
            }
            var value = $(this).attr("value");

            if (value === "sure") {
                price = $("#price").val().split(",").join("");
                $.ajax({
                    url: "/" + token + "/" + price,
                    success: function (ShinKongUrl) {
                        window.location.href = ShinKongUrl;
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            }
            else if (value === "ec") {
                price = $("#price").val().split(",").join("");
                $.ajax({
                    url: "/" + token + "/" + price,
                    success: function (current) {
                        window.location.href = current;
                    },
                    error: function () {
                        console.log("ec error");
                    }
                });
            } else if (value === "linepay") {
                price = $("#price").val().split(",").join("");
                var linePayData = {
                    "amount": price,
                    "shortId": token
                }
                $.ajax({
                    type: "POST",
                    url: domain + "allpaypass/api/linepay/getLineUrl",
                    data: JSON.stringify(linePayData),
                    contentType: "application/json",
                    success: function (lineUrl) {
                        console.log(lineUrl);
                        window.location.href = lineUrl;
                    },
                    error: function (e) {
                        console.log("error");
                        console.log(e);
                    }
                });
            } else if (value === "ts") {
                price = $("#price").val().split(",").join("");
                window.location.href = domain + "allpaypass/api/payment/ts/" + price + "/" + token;
            }
        });

        $("#spinner-minus").click(function () {
            var ticket = $("#ticket").val();
            if (ticket == "" || ticket == "1") {
                $("#ticket").val(1);
            } else {
                $("#ticket").val(parseInt(ticket, 10) - 1);
            }
            ticketPriceTotalFee(money, $("#ticket").val());
        });

        $("#spinner-plus").click(function () {
            var ticket = $("#ticket").val();
            $("#ticket").val(parseInt(ticket, 10) + 1);
            ticketPriceTotalFee(money, $("#ticket").val());
        });

        var price = "";
        var token = [[${token}]];
        var domain = window.location.origin + '/';

        $("#ec-btn button").first().html('<img id="credit-icon" src="/allpaypass/images/creditcard.png" /><p id="icon-title">信用卡</p>')
            .css({
                "display": "none", "height": "50px", "background-color": "#5C5D5D",
                "background-image": "none", "margin": 0,
                "border-radius": "10px", "border": "none",
                "letter-spacing": 0, "min-width": "80px", "max-width": "90px", "padding": "0"
            });
        $("#credit-icon").css({
            "width": "50%"
        });
        $("#icon-title").css({
            "color": "white"
        });
        $("#iframeECPay_CREDIT").css({
            "margin-left": "0",
            "margin-top": "0",
            "left": "0",
            "top": "0",
            "width": "100%",
            "height": "100%"
        });
        $("#iframeECPayClose_CREDIT").css({
            "position": "fixed",
            "margin-left": "0",
            "margin-top": "0",
            "left": "3px",
            "top": "3px",
            "min-width": "30px",
            "min-height": "30px",
            "width": "40px",
            "height": "40px"
        });
        $("#iframeECPayClose_CREDIT").click(function () {
            $("#loading-bg").show();
            var path = window.location.pathname;
            var orderIDArray = path.split("/");
            var orderID = orderIDArray[orderIDArray.length - 4];
            var data = {
                "orderId": orderID
            }
            $.ajax({
                url: domain + "allpaypass/api/ecpay/gettransaction",
                data: JSON.stringify(data),
                type: "POST",
                contentType: "application/json",
                success: function (json) {
                    var jsonData = JSON.parse(json);
                    var RtnCode = jsonData.status;
                    if (RtnCode == "0000") {
                        var resData = {
                            "RtnCode": RtnCode,
                            "PaymentDate": jsonData.date,
                            "TradeAmt": jsonData.amount,
                            "MerchantID": jsonData.MerchantId,
                            "MerchantTradeNo": jsonData.MerchantTradeNo,
                            "itemName": jsonData.itemName,
                            "token": token
                        }
                    } else {
                        var resData = {
                            "RtnCode": RtnCode,
                            "PaymentDate": jsonData.date,
                            "TradeAmt": jsonData.amount,
                            "MerchantID": jsonData.MerchantId,
                            "itemName": jsonData.itemName,
                            "token": token
                        }
                    }
                    console.log(resData);
                    console.log(token);
                    console.log(RtnCode);
                    if (RtnCode === "0000" || RtnCode === "9998") {
                        console.log("0000或9998");
                        setTimeout(function () {
                            $("#loading-bg").hide();
                        }, 1000);
                        window.location.href = domain + "allpaypass/api/payment/ecresult/" + JSON.stringify(resData);
                    } else {
                        setTimeout(function () {
                            $("#loading-bg").hide();
                        }, 1000);
                        window.location.href = domain + token;
                    }
                },
                error: function (e) {
                    console.log("error" + e);
                }
            });
        });

        $("#clear").click(function () {
            $("#back-dialog").show();
            $(".dialog-opacity-bg").show();
            if ($("#back-dialog").not(':hidden')) {
                window.history.pushState('forward', null, '#forward');
            }
        });

        if (window.history && window.history.pushState) {
            window.history.pushState('forward', null, '#forward');
            $(window).on('popstate', function () {
                $("#back-dialog").show();
                $(".dialog-opacity-bg").show();
                if ($("#back-dialog").not(':hidden')) {
                    window.history.pushState('forward', null, '#forward');
                }
            });
        }

        $("#option-btn button").click(function () {
            var clickevent = $(this).val();
            switch (clickevent) {
                case "yes":
                    $.ajax({
                        url: domain + "allpaypass/api/general/interruptTrade/" + token,
                        success: function (res) {
                            console.log(res);
                            console.log("success");
                        },
                        error: function (e) {
                            console.log(e);
                            console.log("error");

                        }
                    });
                    window.location.href = domain + token;
                    break;
                case "cancel":
                    $("#back-dialog").hide();
                    $(".dialog-opacity-bg").hide();
                    if (window.history && window.history.pushState) {
                        window.history.pushState('forward', null, '#forward');
                    }
                    break;
            }
        });

    });

    function customStyleChange() {
        var customizedTemplate = ![[${customizedTemplate}]] ? "" : ([[${customizedTemplate}]] + "/");
        $(".header").css({"background-image": "url(/allpaypass/images/" + customizedTemplate + "scan2pay.png)"});
        $("#icon-minus").attr("src","/allpaypass/images/"+ customizedTemplate + "icon-minus.png");
        $("#icon-plus").attr("src","/allpaypass/images/"+ customizedTemplate + "icon-plus.png");
        $("#apple-pay img").attr("src","/allpaypass/images/"+ customizedTemplate + "apple-pay.png");
        $("#linepay img").attr("src","/allpaypass/images/"+ customizedTemplate + "line-pay.png");
    }

    function inputSizeChange(price) {
        var wordCount = price.toString().length;
        if (wordCount === 0) {
            $("#price").attr("size", 1);
        } else if (wordCount >= 3) {
            $("#price").attr("size", wordCount + 1);
        } else {
            $("#price").attr("size", wordCount);
        }
    }

    function ticketPriceTotalFee(price, ticket) {
        price = parseInt(price, 10) * parseInt(ticket, 10);
        inputSizeChange(price.toString());
        $("#price").val(price);
    }

    //    ]]>
</script>
</body>
</html>