<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Title</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet"/>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr th:class="${qrcodeIntellaStatusColor}">
                            <td th:text="#{qrcode.intella.status.title}"></td>
                            <td th:text="${qrcodeIntellaStatusText}"></td>
                        </tr>
                        <tr th:class="${qrcodeSimulatedStatusColor}">
                            <td th:text="#{qrcode.simulated.status.title}"></td>
                            <td th:text="${qrcodeSimulatedStatusText}"></td>
                        </tr>
                        <tr th:class="${dbStatusColor}">
                            <td th:text="#{db.status.title}"></td>
                            <td th:text="${dbStatusText}"></td>
                        </tr>
                        <tr th:class="${weixinStatusColor}">
                            <td th:text="#{weixin.status.title}"></td>
                            <td th:text="${weixinStatusText}"></td>
                        </tr>
                        <tr th:class="${allpayStatusColor}">
                            <td th:text="#{allpay.status.title}"></td>
                            <td th:text="${allpayStatusText}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>