<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>paycode</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link href="../../css/paycode.css" rel="stylesheet" type='text/css'/>
</head>
<body>
<section>

    <ul>
        <li class="title ">
            <h3>恭喜您，支付成功!</h3>
            <p>請將下方確認碼出示給店員以確認支付完成</p>
        </li>

        <li class="confirm-number">
            <p th:text="${code}"></p>
        </li>
        <li class="order">
            <div class="row">
                <div class="col-7">
                    <p>訂單號</p>
                    <p>1234RDFGHJE345DFGH</p>
                    <p>訂單號</p>
                    <p>23RFGY65678IJHGFDE345</p>
                </div>
                <div class="col-3">
                    <table>
                        <tr>
                            <th>應付</th>
                            <td>TWD 1.00</td>
                        </tr>
                        <tr>
                            <th>抵扣</th>
                            <td>TWD -0.00</td>
                        </tr>
                        <tr>
                            <th>支付</th>
                            <td><span>TWD 1.00</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </li>

        <li class="prompt">
            <ul>
                <li class="sub-title">
                    <p>溫馨提示</p>
                </li>
                <li class="prompt-describe">
                    <p>1.如遺忘或遺失此確認碼，可重新掃碼取回</p>
                    <p>2.改確認碼僅對此次支付有效</p>
                </li>
            </ul>
        </li>
        <!--<a href="javascript:window.opener='x';window.close();">-->
        <li class="button"><a href="self.close();">關閉</a></li>
        <li class="sub-prompt">
            <p>請確認您???當面支付，遠程交易存在風險</p>
        </li>
    </ul>

</section>


</body>
</html>