<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Apple Pay Example</title>
    <link href="/allpaypass/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/allpaypass/css/paymentCheckOut.css" rel="stylesheet"/>
    <script src="/allpaypass/js/jquery-3.2.1.min.js"></script>
    <script src="/allpaypass/js/bootstrap.min.js"></script>

    <script src="/allpaypass/js/apple/index.js"></script>
    <script src="/allpaypass/js/apple/support.js"></script>

    <link rel="apple-touch-icon" sizes="120x120" href="/allpaypass/images/applepay/touch-icon-120.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/allpaypass/images/applepay/touch-icon-152.png"/>
    <link rel="apple-touch-icon" sizes="167x167" href="/allpaypass/images/applepay/touch-icon-167.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/allpaypass/images/applepay/touch-icon-180.png"/>
    <!--<script type="text/javascript">
//            var regexp = [' ', '-', '/', ':'], ecDate;
//            var redLength = $(".main .fc-dark-red").length;

//        $(function () {
//            var res = new Object();
//            window.addEventListener('message', function (e) {
//                var result = e.data.replace(/&quot;/g, "\"");
//                res = {
//                    "MerchantID": JSON.parse(result).MerchantID,
//                    "MerchantTradeNo": JSON.parse(result).MerchantTradeNo,
//                    "TradeAmt": JSON.parse(result).TradeAmt,
//                    "PaymentDate": JSON.parse(result).PaymentDate.split("/").join("").split(":").join("").split(" ").join(""),
//                    "RtnCode": JSON.parse(result).RtnCode
//                };
//                    window.location.href = "https://s.intella.co/allpaypass/api/test/ec/" + JSON.stringify(res);
//
//            });
//        });

    s</script>-->
</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var domain = window.location.origin + '/';
    /*]]>*/
</script>
<div class="order-background">
    <div class="infor-list transaction-successful">
        <div class="allpay-intella">
            <p>香港商英特拉股份有限公司</p>
            <p>台灣分公司</p>
        </div>
        <table class="table allpay-table">
            <tbody>
            <tr>
                <th style="vertical-align:bottom; border-top:none;">訂單金額</th>
                <td style="border-top:none;vertical-align:bottom;" class="allpay-price"><span id="amount"
                                                                                              th:text="${amount}"></span>元
                </td>
            </tr>
            <tr>
                <th>店家</th>
                <td th:text="${merchantID}" id="merchantID"></td>
            </tr>
            <tr>
                <th>訂單序號</th>
                <td th:text="${orderId}" id="orderID"></td>
            </tr>
            <tr style="border-bottom:1px solid #ddd">
                <th>交易日期</th>
                <td id="trade-date"></td>
            </tr>
            </tbody>
        </table>
        <div>
            <p class="payment-method">付款方式</p>
            <div style="width:90%;margin-left:5%">
                <div class="button-col col-left">
                    <div class="apple-pay-button" onclick="applePayButtonClicked()"></div>
                </div>
                <!--<script th:attr="src=${payURL},-->
                <div class="button-col">
                    <script src="/allpaypass/js/paymentECpay.js" th:attr="data-MerchantID=${merchantID},
                data-SPToken=${spToken},
                data-PaymentType=${paymentType},
                data-PaymentName=${paymentName}">
                    </script>
                </div>
                <div style="display:none">
                    <form id="formWebATM" method="post" accept-charset="UTF-8"
                          action="https://payment-stage.allPay.com.tw/Cashier/AioCheckOut/V4">

                        <input type="hidden" name="MerchantID" th:value="${merchantId}" /><br />
                        <input type="hidden" name="MerchantTradeNo" th:value="${sotreOrderId}" /><br />
                        <input type="hidden" name="MerchantTradeDate" th:value="${createTime}" /><br />
                        <input type="hidden" name="PaymentType" value="aio" /><br />
                        <input type="hidden" name="TotalAmount" th:value="${amount}" /><br />
                        <input type="hidden" name="TradeDesc" th:value="${desc}" /><br />
                        <input type="hidden" name="ItemName" th:value="${itemName}" /><br />
                        <input type="hidden" name="ReturnURL" th:value="${notifyUrl}" /><br />
                        <input type="hidden" name="ChoosePayment" value="TopUpUsed" /><br />
                        <input type="hidden" name="ClientBackURL" th:value="${returnUrl}" /><br />
                        <input type="hidden" name="EncryptType" value="1" /><br />
                        <input type="hidden" name="CheckMacValue" th:value="${checkMacValue}" /><br />
                        <input type="submit" value="送出訂單" />

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        checkApplePayBrowse()

        var date = new Date();
        $("#trade-date").text(dateFormat(date));

        $("#cancel-btn").click(function () {
            $("#credit-pay").hide();
        });
        $(".button-col button").first().html('<img id="credit-icon" src="/allpaypass/images/creditcard.png" /><p>信用卡</p>')
            .css({
                "height": "76px", "background-color": "#5C5D5D", "background-image": "none", "margin": 0,
                "border-radius": "10px", "border": "none", "letter-spacing": 0, "min-width": "120px", "padding": "0"
            });
        $("#iframeECPay_CREDIT").css({
            "margin-left": "0",
            "margin-top": "0",
            "left": "0",
            "top": "0",
            "width": "100%",
            "height": "100%"
        });
        $("#iframeECPayClose_CREDIT").css({
            "margin-left": "0",
            "margin-top": "0",
            "left": "3px",
            "top": "3px",
            "width": "40px",
            "height": "40px"
        });

        $("#iframeECPayClose_CREDIT").click(function () {
            var data = {
                "orderId": $("#orderID").text()
            }
            $.ajax({
                url: domain+"allpaypass/api/ecpay/gettransaction",
                data: JSON.stringify(data),
                type: "POST",
                contentType: "application/json",
                success: function (json) {
                    var jsonData =  JSON.parse(json);
                    var resData = {
                        "RtnCode": jsonData.status.split(" ").join(""),
                        "PaymentDate": jsonData.date,
                        "TradeAmt": jsonData.amount,
                        "MerchantID": jsonData.MerchantID,
                        "MerchantTradeNo":$("#orderID").text()
                    }
                    console.log("stringify(resData)： "+JSON.stringify(resData));
                    window.location.href = domain+"allpaypass/api/test/ec/" + JSON.stringify(resData);
                },
                error: function (e) {
                    console.log("error" + e);
                }
            });
        });

    });

    function dateFormat(d) {
        var mm = d.getMonth() + 1;
        var dd = d.getDate();
        var hh = d.getHours();
        var minutes = d.getMinutes();
        return [d.getFullYear(),
                (mm > 9 ? '' : '0') + mm,
                (dd > 9 ? '' : '0') + dd
            ].join('-') + " "
            + (hh > 9 ? '' : '0') + hh + ":"
            + (minutes > 9 ? '' : '0') + minutes;
    }
</script>

</body>
</html>