<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>intella</title>
    <link href="/allpaypass/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/allpaypass/css/scan2pay.css" rel="stylesheet"/>
    <link href="/allpaypass/css/result.css" rel="stylesheet"/>
    <script src="/allpaypass/js/jquery-3.2.1.min.js"></script>
    <script src="/allpaypass/js/bootstrap.min.js"></script>
</head>
<body>


<div>
    <div class="title-icon result-title-bar" id="title-bg-color">
        <img src="/allpaypass/images/scan2pay-white.png" draggable="false"/>
    </div>
    <div class="title-icon result-block">
        <div class="result-title">
            <div>
                <div th:switch="${RtnCode}" class="result-icon-animate" id="zoom-block">
                    <span th:case="'00'">
                        <img src="/allpaypass/images/result-success-green-bg.png" draggable="false"
                             class="result-zoom-bg"/>
                        <canvas class="canvas-tick-animate"></canvas>
                    </span>
                    <span th:case="'0000'">
                        <img src="/allpaypass/images/result-success-green-bg.png" draggable="false"
                             class="result-zoom-bg"/>
                        <canvas class="canvas-tick-animate"></canvas>
                    </span>
                    <span th:case="*">
                    <img src="/allpaypass/images/result-fail-red.png" draggable="false" class="result-zoom-bg"/>
                    </span>

                </div>
            </div>
            <div th:switch="${RtnCode}">
                <p th:case="'00'" style="color:#85BC20;">交易成功</p>
                <p th:case="'0000'" style="color:#85BC20;">交易成功</p>
                <p th:case="*" style="color:#E94B24;">交易失敗</p>
            </div>
            <div class="clock-group">
                <span id="hoursAnimate" class="clock-style"></span>
                <span>:</span>
                <span id="minutesAnimate" class="clock-style"></span>
                <span>:</span>
                <span id="secondsAnimate" class="clock-style"></span>
            </div>
        </div>
    </div>
    <div>
        <img src="/allpaypass/images/result-line.png" draggable="false"/>
    </div>
    <div class="intella-company result-company">
        <p class="bold" th:text="${MerchantID}"></p>
    </div>
    <div class="order-info">
        <table class="table">
            <tbody>
            <tr>
                <td>訂單金額</td>
                <td>
                    <p><span class="order-dolor bold" th:text="${TradeAmt}">0</span>元</p>
                </td>
            </tr>
            <tr>
                <td>商品名稱</td>
                <td>
                    <p id="itemName"></p>
                </td>
            </tr>
            <tr>
                <td>訂單編號</td>
                <td>
                    <p th:text="${MerchantTradeNo}"></p>
                </td>
            </tr>
            <tr>
                <td>交易日期</td>
                <td>
                    <p id="payment-data"></p>
                </td>
            </tr>
            <tr>
                <td>狀態代碼</td>
                <td>
                    <p th:switch="${RtnCode}">
                        <span th:case="'00'" th:text="${RtnCode}"> 123</span>
                        <span th:case="'0000'" th:text="${RtnCode}"> </span>
                        <span th:case="*" th:text="${RtnCode}" style="color:#E94B24 ">123</span>
                    </p>
                </td>
            </tr>
                        <tr th:if="${(not #strings.isEmpty(buttonText)) and (not #strings.isEmpty(buttonURL))}">
                            <td>
                                <a th:href="${buttonURL}">
                                    <button th:text="${buttonText}"></button>
                                </a>
                            </td>
                            <td>
<!--                                <p th:text="${buttonURL}"></p>-->
                            </td>
                        </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="back-dialog" id="back-dialog">
    <div class="warning-bg">
        <img src="/allpaypass/images/warning-icon.png" draggable="false"/>
    </div>
    <div class="instructions" th:switch="${RtnCode}">
        <p th:case="'00'">交易成功，返回交易選擇畫面</p>
        <p th:case="'Tradesuccess'">交易成功，返回交易選擇畫面</p>
        <p th:case="*">交易失敗，請重新操作</p>
    </div>
    <div class="option-btn" id="option-btn">
        <button class="dialog-btn btn-yes" id="dialog-yes" type="button" value="yes">是</button>
        <button class="dialog-btn btn-no" id="dialog-no" type="button" value="cancel">否</button>
    </div>
</div>

<div class="dialog-opacity-bg" id="dialog-opacity-bg" style="height: 100vh"></div>

<script th:inline="javascript">
    //    <![CDATA[
    $(document).ready(function () {
        detectUserAgent();

        //clock animate
        clock();
        loop();
        var RtnCode = [[${RtnCode}]];

        var callBackUrl = [[${callBackUrl}]];
        var callBackDelay = [[${callBackDelay}]];


        if (getCookie('productAmount')) {
            let result = 'false'
            if (RtnCode === '00' || RtnCode === '0000') {
                result = 'true'
            }
            createCookie('result', result);
            setTimeout(() => {
                window.open(location, '_self').close();
            }, 10)
        }
        //canvas tick animate
        if (RtnCode == "00" || RtnCode == "0000") {
            canvasDraw();
            setInterval(function () {
                canvasDraw();
                var c = document.getElementsByTagName("canvas")[0];
                var ctx = c.getContext('2d');
                ctx.clearRect(0, 0, c.width, c.height);
            }, 2200);
        }

        setInterval(function () {
            clock();
        }, 1000);

        var domain = window.location.origin + '/';
        var PayDate = [[${PaymentDate}]];
        var itemName = [[${itemName}]];
        var token = [[${token}]];

        console.log("PayDate " + PayDate);
        console.log("itemName " + itemName);

        if (itemName == "emptyItem") {
            $("#itemName").text(" ");
        } else {
            //商品名稱 長度 > 20 擷取前20字元 + ...
            if (itemName.length >= 20) {
                itemName = itemName.substring(0, 20) + "...";
            }
            $("#itemName").text(itemName);
        }

        if (PayDate !== null && PayDate !== "" && PayDate !== undefined) {
            if (PayDate.indexOf("-") > -1) {
                $("#payment-data").text(PayDate);
            } else {
                PayDate = PayDate.substring(0, 4) + "-"
                    + PayDate.substring(4, 6) + "-"
                    + PayDate.substring(6, 8) + " "
                    + PayDate.substring(8, 10) + ":"
                    + PayDate.substring(10, 12);
                $("#payment-data").text(PayDate);
            }
        }

        if (window.history && window.history.pushState) {
            window.history.pushState('forward', null, '#forward');
            $(window).on('popstate', function () {
                $("#back-dialog").show();
                $("#dialog-opacity-bg").show();
                if ($("#back-dialog").not(':hidden')) {
                    window.history.pushState('forward', null, '#forward');
                }
            });
        }

        $("#option-btn button").click(function () {
            var clickevent = $(this).val();
            console.log(clickevent);
            switch (clickevent) {
                case "yes":
                    window.location.href = domain + token;
                    break;
                case "cancel":
                    if (window.history && window.history.pushState) {
                        window.history.pushState('forward', null, '#forward');
                    }
                    $("#back-dialog").hide();
                    $("#dialog-opacity-bg").hide();
                    break;
            }
        });

        if (!checkParam(callBackUrl) && !checkParam(callBackDelay)) {
            redirectCallBackUrl(callBackUrl, callBackDelay);
        }
    });

    function clock() {
        var time = new Date();
        var hours = time.getHours();
        var minutes = time.getMinutes();
        var seconds = time.getSeconds();

        if ($('#hoursAnimate').text() != ((hours < 10 ? "0" : "") + hours)) {
            $('#hoursAnimate').text((hours < 10 ? "0" : "") + hours);
        }

        if ($('#minutesAnimate').text() != ((minutes < 10 ? "0" : "") + minutes)) {
            $('#minutesAnimate').text((minutes < 10 ? "0" : "") + minutes);
        }

        if ($('#secondsAnimate').text() != ((seconds < 10 ? "0" : "") + seconds)) {
            $('#secondsAnimate').text((seconds < 10 ? "0" : "") + seconds);
        }
    }

    function detectUserAgent() {
        var titleBarColor = [[${titleBarColor}]];
        var ua = navigator.userAgent;
        if (/MicroMessenger/.test(ua)) {
            $("#title-bg-color").css("background", "#22AC38 ");
        } else if (/AlipayClient/.test(ua)) {
            $("#title-bg-color").css("background", "#2893D2");
        } else if (/allPay/.test(ua)) {
            $("#title-bg-color").css("background", "#014A97");
        } else if (titleBarColor == "ecColor") {
            $("#title-bg-color").css("background", "#277E3A");
        } else if (titleBarColor == "applePayColor") {
            $("#title-bg-color").css("background", "black");
        } else if (titleBarColor == "linePayColor") {
            $("#title-bg-color").css("background", "#00C43E");
        } else if (titleBarColor == "tsColor") {
            $("#title-bg-color").css("background", "#BF1D20");
        } else {
            $("#title-bg-color").css("background", "#85BC20");
        }
    }

    function loop() {
        var zoom = $(".result-zoom");
        var width = Math.floor($("#zoom-block").width());
        $("#zoom-block").css({"height": width});

        zoom.animate({width: width + "px", height: width + "px", top: "0px"}, 600)
        zoom.animate({width: width + "px", height: width + "px", top: "0px"}, 600, function () {
            setTimeout(function () {
                loopInit();
            }, 500);
        });
    }

    function loopInit() {
        var zoom = $(".result-zoom");
        zoom.css({"width": "0px", "height": "0px", "top": "50%"});
        loop();
    }

    function canvasDraw() {
        var start = 100;
        var mid = 145;
        var end = 250;
        var width = 22;
        var leftX = start;
        var leftY = start;
        var rightX = mid + 2;
        var rightY = mid - 3;
        var animationSpeed = 20;
        var c = document.getElementsByTagName("canvas")[0];
        var ctx = c.getContext('2d');
        ctx.lineWidth = width;
        ctx.strokeStyle = 'white';

        for (var i = start; i < mid; i++) {
            setTimeout(function () {
                ctx.beginPath();
                ctx.moveTo(start, start);
                ctx.lineTo(leftX, leftY);
                ctx.lineCap = 'round';
                ctx.stroke();
                leftX++;
                leftY++;
            }, 1 + (i * animationSpeed) / 3);
        }

        for (var i = mid; i < end; i++) {
            setTimeout(function () {
                ctx.beginPath();
                ctx.moveTo(leftX + 2, leftY - 3);
                ctx.lineTo(rightX, rightY);
                ctx.stroke();
                rightX++;
                rightY--;
            }, 1 + (i * animationSpeed) / 3);
        }
    }

    function getCookie(name) {
        if (document.cookie.length > 0) {
            let search = name + '='
            let offset = document.cookie.indexOf(search)
            if (offset !== -1) {
                offset += search.length
                let end = document.cookie.indexOf(';', offset)
                if (end === -1) {
                    end = document.cookie.length
                }
                return (document.cookie.substring(offset, end))
            }
        }
    }

    function createCookie(name, value, days = 1) {
        let date = new Date()
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000))
        let expires = `expires=${date.toGMTString()}`
        document.cookie = `${name}=${value};${expires};path=/`
    }

    function redirectCallBackUrl(callBackUrl, callBackDelay) {

        setInterval(function () {
            window.location.href = callBackUrl;
        }, callBackDelay * 1000);

    }

    function checkParam(str) {
        return typeof (str) == "undefined" || str === '' || str == null;
    }

    //    ]]>
</script>

</body>
</html>