<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=0" />
    <title>intella</title>
    <script src="/allpaypass/js/jquery-3.2.1.min.js"></script>
    <script src="/allpaypass/js/apple/index.js"></script>
    <link href="/allpaypass/css/paymentMethod.css" rel='stylesheet' type='text/css' />
    <script>
        const STAGE_URL = location.href.includes('s.intella.co');
        const head = document.getElementsByTagName('head')[0]; 
        const script = document.createElement('script');
        script.async = true;
        script.type= 'text/javascript'; 
        (STAGE_URL)
            ? script.src = "https://www.googletagmanager.com/gtag/js?id=G-9GSZHLJZTH"
            : script.src = "https://www.googletagmanager.com/gtag/js?id=G-6N68YYT3CH"
        head.appendChild(script); 
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', STAGE_URL ? 'G-9GSZHLJZTH' : 'G-6N68YYT3CH');
    </script>
</head>



<body>
    <!-- BANNER -->
    <div id="title-bar" class="title-bar">
        <img th:if="${#strings.isEmpty(paymentBanner)}" src="/allpaypass/images/scan2pay.png" draggable="false"
            class="banner__base" />
        <img th:if="${not #strings.isEmpty(paymentBanner)}" th:src="@{'data:image/jpeg;base64,'+${paymentBanner}}"
            class="banner__ad" />
    </div>
    <!-- DETAIL -->
    <div th:if="${not #strings.isEmpty(detail)}">
        <p th:utext="${detail}"></p>
    </div>

    <div class="method">
        <p>
            <span class="point-icon"></span>請選擇支付方式
        </p>
        <div class="pay-method size"></div>
    </div>

    <p th:if="${isMultiQRCode eq '1'}" style="text-align: right; margin-right: 6.6%">
        <a th:href="@{${@environment.getProperty('payment.gateway.api.origin')}+'/payment-ui/#/'}"
            style="text-decoration: underline" id="multiqrcode-sending" onclick="sendMultiQRcode()">繳交多筆款項</a>
    </p>

    <p th:if="${isMultiQRCode eq '1'}" style="text-align:right;margin-right:6.6%">
        <a th:href="@{${@environment.getProperty('payment.gateway.api.origin')}+'/payment-ui/#/'}"
            style="text-decoration:underline" id="multiqrcode-sending" onclick="sendMultiQRcode()">繳交多筆款項</a>
    </p>

    <div id="copyright-icon" class="copyright-icon">
        <img src="/allpaypass/images/power-by.png" draggable="false" />
    </div>

    <div class="move-to-safari" id="move-to-safari">
        <div class="common-title">
            <h2>未使用正確瀏覽器</h2>
            <button type="button" id="common-dialog">
                <img src="/allpaypass/images/cross-icon.png" draggable="false" />
            </button>
        </div>
        <div class="common-tips" id="common-tips">
            <p>請於下方圖示中開啟safari</p>
            <p id="common-no-copy">重新Apple Pay交易</p>
            <div class="dialog-tips" id="all-tips">
                <img src="/allpaypass/images/icon-tip-arrow.png" draggable="false" />
                <img src="/allpaypass/images/icon-tip-horizontal.png" draggable="false" /> <img
                    src="/allpaypass/images/icon-tip-vertical.png" draggable="false" />
            </div>
            <div class="dialog-tips" id="facebook-tips">
                <img src="/allpaypass/images/icon-tip-vertical.png" draggable="false" />
            </div>
        </div>
        <div class="common-copy" id="common-copy">
            <img src="/allpaypass/images/separate-line.png" draggable="false" />
            <p>點擊下方按鈕</p>
            <p>複製後將網址貼於safari瀏覽器開啟</p>
            <button class="common-copy copy-btn">複製網址</button>
        </div>
    </div>

    <div class="chrome-to-safari" id="chrome-to-safari">
        <div class="chrome-title">
            <h2>未使用正確瀏覽器</h2>
            <button type="button" id="close-chrome-dialog">
                <img src="/allpaypass/images/cross-icon.png" draggable="false" />
            </button>
        </div>
        <div class="chrome-step">
            <p>點擊下方按鈕</p>
            <p>複製後將網址貼於safari瀏覽器開啟</p>
            <button class="chrome-copy copy-btn copy-green">複製網址</button>
        </div>
    </div>

    <div id="url-save">
        <img src="/allpaypass/images/tick-icon.png" draggable="false" />
        <p>已複製</p>
    </div>

    <div id="appNoInstall" class="app-no-install">
        <div class="no-install-describe">
            <p>未下載此支付APP</p>
            <p>請先下載安裝後，再重新操作</p>
        </div>
        <button id="closeAppNoInstall" class="close-no-install">好</button>
    </div>

    <div class="dialog-opacity-bg"></div>

    <div style="display: none" id="token"></div>
    <div style="display: none" id="applePayHost"></div>
    <div style="display: none" id="paymentMethod">
        <p>homepage</p>
    </div>

    <script src="/allpaypass/js/clipboard.min.js"></script>
    <script th:inline="javascript">
        //    <![CDATA[
        $(function () {

            var domain = window.location.origin;
            var paymentMethod = null;
            var token = [[${ token }]];
            var applePayHost = [[${ applePayHost }]];
            var isCustom = [[${ isCustom }]];
            var customizedTemplate = ![[${ customizedTemplate }]] ? "" : ([[${ customizedTemplate }]] + "/");
            if (isCustom == "1") {
                $("#title-bar img").attr("src", "/allpaypass/images/" + customizedTemplate + "scan2pay.png");
            }
            // 宣告各平台的網址路徑
            const paymentMethodUrl = {

                SKB: {
                    android: 'weixin://scanqrcode',
                    ios: 'weixin://scanqrcode',
                    windows: '',
                    androidStore: 'https://play.google.com/store/apps/details?id=com.tencent.mm&hl=zh_TW',
                    iosStore: 'https://itunes.apple.com/tw/app/wechat/id414478124?mt=8'
                },
                TSWeixin: {
                    android: 'weixin://scanqrcode',
                    ios: 'weixin://scanqrcode',
                    windows: '',
                    androidStore: 'https://play.google.com/store/apps/details?id=com.tencent.mm&hl=zh_TW',
                    iosStore: 'https://itunes.apple.com/tw/app/wechat/id414478124?mt=8'
                },
                MegaWeixin: {
                    android: 'weixin://scanqrcode',
                    ios: 'weixin://scanqrcode',
                    windows: '',
                    androidStore: 'https://play.google.com/store/apps/details?id=com.tencent.mm&hl=zh_TW',
                    iosStore: 'https://itunes.apple.com/tw/app/wechat/id414478124?mt=8'
                },
                PI: {
                    android: 'intent://www.piapp.com.tw#Intent;package=tw.com.pchome.android.pi;scheme=pi;launchFlags=268435456;end;',
                    ios: 'pi://clicktoapp/parkingtaipei',
                    windows: '',
                    androidStore: 'https://play.google.com/store/apps/details?id=tw.com.pchome.android.pi',
                    iosStore: 'https://itunes.apple.com/tw/app/pi-%E6%8B%8D%E9%8C%A2%E5%8C%85/id975840583?mt=8'
                },
                YUANTA: {
                    android: 'alipayqr://platformapi/startapp?saId=10000007',
                    ios: 'alipayqr://platformapi/startapp?saId=10000007',
                    windows: '',
                    androidStore: 'https://play.google.com/store/apps/details?id=com.eg.android.AlipayGphone',
                    iosStore: 'https://itunes.apple.com/tw/app/%E6%94%AF%E4%BB%98%E5%AE%9D-%E8%AE%A9%E7%94%9F%E6%B4%BB%E6%9B%B4%E7%AE%80%E5%8D%95/id333206289?mt=8'
                },
                TSAlipay: {
                    android: 'alipayqr://platformapi/startapp?saId=10000007',
                    ios: 'alipayqr://platformapi/startapp?saId=10000007',
                    windows: '',
                    androidStore: 'https://play.google.com/store/apps/details?id=com.eg.android.AlipayGphone',
                    iosStore: 'https://itunes.apple.com/tw/app/%E6%94%AF%E4%BB%98%E5%AE%9D-%E8%AE%A9%E7%94%9F%E6%B4%BB%E6%9B%B4%E7%AE%80%E5%8D%95/id333206289?mt=8'
                },
                Allpay: {
                    android: 'opay://',
                    ios: 'opay://',
                    windows: '',
                    androidStore: 'https://play.google.com/store/apps/details?id=com.allpay.tw',
                    iosStore: 'https://itunes.apple.com/tw/app/%E8%A1%8C%E5%8B%95%E6%94%AF%E4%BB%98/id579207122?mt=8'
                },
                LuckyPay: {
                    android: 'weixin://scanqrcode',
                    ios: 'weixin://scanqrcode',
                    windows: '',
                    // androidStore: 'https://play.google.com/store/apps/details?id=com.fubon.mbank&hl=zh_TW',
                    // iosStore: 'https://itunes.apple.com/tw/app/%E5%AF%8C%E9%82%A6%E8%A1%8C%E5%8B%95%E9%8A%80%E8%A1%8C/id964733020?mt=8'
                    androidStore: 'https://play.google.com/store/apps/details?id=com.tencent.mm&hl=zh_TW',
                    iosStore: 'https://itunes.apple.com/tw/app/wechat/id414478124?mt=8'
                },
                TOBwebATM: {
                    android: '',
                    ios: '',
                    windows: 'https://acq.bot.com.tw/pay/cardpay',
                    androidStore: '',
                    iosStore: ''
                }
            };

            $("#token").text(token);
            $("#applePayHost").text(applePayHost);
            var accountNameArray = [[${ accountName }]];
            var openFISCtwpay = [[${ openFISCtwpay }]];
            var count = 0;

            let provideArray = ['ApplePay', 'twpay', 'TOBtwpay', 'FBtwpay', 'LBtwpay', 'YUANTA', 'SKB', 'Allpay', 'LinePay', 'PI', 'TSBank', 'FubonBank', 'scsb', 'scsb3D', 'ezpay', 'LuckyPay', 'UUPay', 'YuanTaOffline',
                'AlipayShangHai', 'GamaPay', 'TSAlipay', 'TSWeixin', 'MegaWeixin', 'FISCTwpay', 'TCBTwpay', 'MegaTwpay2OLPay', 'TOBwebATM', 'JKosOLPay', 'HNCBTwpay', 'newPi', 'IcashPay'];
            let twpayArray = ['TOBtwpay', 'LBtwpay', 'FBtwpay', 'twpay'];
            let customArray = []

            let twpayMethod = { 'TOBtwpay': '14200', 'FBtwpay': '14300', 'LBtwpay': '14400', 'TCBTwpay': '15000', 'twpay': '12000', 'MegaTwpay2OLPay': '15600', 'FISCTwpay': '123' }

            accountNameArray.filter((item, index) => {
                return accountNameArray.indexOf(item) === index
            }).map(item => {
                return item.split(',')
            }).forEach(item => {
                provideArray.forEach(element => {
                    if (item[0] === element) {
                        customArray.push(item)
                    }
                })
            })

            customArray.sort((a, b) => {
                if (a[1] === 'null') {
                    return 1
                } else if (b[1] === 'null') {
                    return -1
                } else if (parseInt(a[1]) === parseInt(b[1])) {
                    return 0
                } else {
                    return parseInt(a[1]) > parseInt(b[1]) ? 1 : -1
                }
            }).forEach((element) => {
                let item_html = ''
                if (element[0] === 'ApplePay') {
                    item_html = `<div class="pay-style" id="${element[0]}" style="display: inline-block">
                                <button class="pay-btn" type="button" value="${element[0]}" id="show-prompt">
                                    <img src="/allpaypass/images/choose-${element[0]}.png" draggable="false"/>
                                </button>
                            </div>`
                } else {
                    switch (element[0]) {
                        case "TOBtwpay":
                        case "LBtwpay":
                        case "FBtwpay":
                        case "twpay":
                        case "TCBTwpay":
                        case "MegaTwpay2OLPay":
                            // if("true" == openFISCtwpay){ //20200828 J 要全開放，故這邊先拿掉，但為了之後又要更改，OnlineController並未移除相關code
                            //20200917 更改為 相關twPay 只顯示財金中轉頁
                            item_html = `<div class="pay-style" id="FISCTwpay" style="display: inline-block">
                                <button class="pay-btn" type="button" value="${element[0]}">
                                    <img src="/allpaypass/images/choode-FISCTwpay.png" draggable="false"/>
                                </button>
                            </div>`;
                            // }
                            break;
                        default:
                            item_html = `<div class="pay-style" id="${element[0]}" style="display: inline-block">
                                <button class="pay-btn" type="button" value="${element[0]}">
                                    <img src="/allpaypass/images/choose-${element[0]}.png" draggable="false"/>
                                </button>
                            </div>`;
                            break;
                    }
                }

                let item = $(item_html)
                item.appendTo($(".pay-method"))
                count++
            })
            poweredByIcon(count)
            checkApplePayBrowse();
            checkAndroid();

            if (window.history && window.history.pushState) {
                window.history.pushState('forward', null, '#forward');
                $(window).on('popstate', function () {
                    window.location.href = domain + '/' + token;
                });
            }
            paymentMethod = [[${ bankName }]];
            console.log(paymentMethod);
            myFunction(paymentMethod);
            function myFunction(paymentMethod) {
                switch (paymentMethod) {
                    case "SKB":
                    case "TSWeixin":
                    case "PI":
                    case "YUANTA":
                    case "TSAlipay":
                    case "LuckyPay":
                    case "Allpay":
                        openAppTimeOut(paymentMethodUrl[paymentMethod]);
                        break;
                    case "MegaWeixin":
                        openMegaWexinAppTimeOut(paymentMethodUrl[paymentMethod], domain, token);
                        break;
                    case "EC":
                        window.location.href = domain + "/allpaypass/api/payment/ec/" + token;
                        break;
                    case "TSBank":
                        window.location.href = domain + "/allpaypass/api/payment/tsbank/" + token;
                        break;
                    case "FubonBank":
                        window.location.href = domain + "/allpaypass/api/payment/fubonbank/" + token;
                        break;
                    case "scsb":
                        window.location.href = domain + "/allpaypass/api/payment/scsb/" + token;
                        break;
                    case "scsb3D":
                        window.location.href = domain + "/allpaypass/api/payment/scsb3D/" + token;
                        break;
                    case "LinePay":
                        window.location.href = domain + "/allpaypass/api/payment/linepay/" + token;
                        break;
                    case "ezcard":
                        window.location.href = domain + "/allpaypass/api/payment/ezcard/" + token;
                        break;
                    case "UUPay":
                        window.location.href = domain + "/allpaypass/api/payment/UUPay/" + token;
                        break;
                    case "AlipayShangHai":
                        window.location.href = domain + "/allpaypass/api/payment/alipayShangHai/" + token;
                        break;
                    case "TOBtwpay":
                    // window.location.href = domain + "/allpaypass/api/payment/FISCTwpay/" + token + "/14200";
                    // break;
                    case "FBtwpay":
                    // window.location.href = domain + "/allpaypass/api/payment/FISCTwpay/" + token + "/14300";
                    // break;
                    case "LBtwpay":
                    // window.location.href = domain + "/allpaypass/api/payment/FISCTwpay/" + token + "/14400";
                    // break;
                    case "TCBTwpay":
                    // window.location.href = domain + "/allpaypass/api/payment/FISCTwpay/" + token + "/15000";
                    // break;
                    case "twpay":
                    // window.location.href = domain + "/allpaypass/api/payment/FISCTwpay/" + token + "/12000";
                    // break;
                    case "MegaTwpay2OLPay":
                    // window.location.href = domain + "/allpaypass/api/payment/FISCTwpay/" + token + "/15600";
                    // break;
                    case "FISCTwpay":
                        window.location.href = domain + "/allpaypass/api/payment/FISCTwpay/" + token + "/" + twpayMethod[paymentMethod];
                        break;
                    case "YuanTaOffline":
                        window.location.href = domain + "/allpaypass/api/payment/yuanTaOffline/" + token;
                        break;
                    case "GamaPay":
                        window.location.href = domain + "/allpaypass/api/payment/gamapay/" + token;
                        break;
                    case "HNCBTwpay":
                        window.location.href = domain + "/allpaypass/api/payment/HNCBTwpay/" + token;
                        break;
                    case "TOBwebATM":
                        window.location.href = domain + "/allpaypass/api/payment/TOBwebATM/" + token;
                        break;
                    case "JKosOLPay":
                        window.location.href = domain + "/allpaypass/api/payment/JKos/" + token;
                        break;
                    case "newPi":
                        window.location.href = domain + "/allpaypass/api/payment/newPI/" + token;
                        break;
                    case "IcashPay":
                        window.location.href = domain + "/allpaypass/api/payment/IcashPay/" + token;
                        break;
                    case "ezpay":
                        callPay2go(domain);
                    default:
                        break;
                }

            }

            $(document).on('click', '.pay-style button', function (e) {
                paymentMethod = $(this).val();
                myFunction(paymentMethod);

            });

            $("#closeAppNoInstall").click(function () {
                $("#appNoInstall").hide();
                $(".dialog-opacity-bg").hide();
            });

            $(".chrome-copy").attr("data-clipboard-text", location.href);
            $(".common-copy").attr("data-clipboard-text", location.href);

            $(".chrome-copy").click(function () {
                $("#url-save").fadeIn();
                setTimeout(function () {
                    $("#url-save").fadeOut();
                }, 1500);
            });
            $(".common-copy").click(function () {
                $("#url-save").fadeIn();
                setTimeout(function () {
                    $("#url-save").fadeOut();
                }, 1500);
            });
            new Clipboard('.chrome-copy');
            new Clipboard('.common-copy');

            $("#common-dialog").click(function () {
                $("#move-to-safari").hide();
                $(".dialog-opacity-bg").hide();
            });

            $("#close-chrome-dialog").click(function () {
                $("#chrome-to-safari").hide();
                $(".dialog-opacity-bg").hide();
            });
        });

        function poweredByIcon(count) {
            if (count > 6) {
                $("#copyright-icon").css("position", "unset");
            } else {
                $("#copyright-icon").css("position", "absolute");
            }
        }

        function uninstallAppDialog(time) {
            setTimeout(function () {
                $("#appNoInstall").show();
                $(".dialog-opacity-bg").show();
            }, time);
        }

        function openAppTimeOut(scheme) {
            if (navigator.userAgent.match(/Windows Phone/i)) {
                // Windows Phone
                if (scheme.windows) {
                    window.location.href = scheme.windows;
                } else {
                    uninstallAppDialog(500);
                }
            } else if (navigator.userAgent.match(/Android/i)) {
                if (navigator.userAgent.match(/Chrome/i)) {
                    // Android + Chrome
                    if (scheme.android) {
                        checkGoAppOrGoStore(scheme.android, scheme.androidStore)
                    } else {
                        window.location.href = scheme.androidStore
                        uninstallAppDialog(2000);
                    }
                } else {
                    // Android + not Chrome
                    uninstallAppDialog(500);
                }
            } else if (navigator.userAgent.match(/(iPad|iPhone|iPod)/i)) {
                // ios
                if (scheme.ios) {
                    checkGoAppOrGoStore(scheme.ios, scheme.iosStore)
                } else {
                    window.location.href = scheme.iosStore
                    uninstallAppDialog(2000);
                }
            } else {
                // other
                uninstallAppDialog(500);
            }
        }

        function openMegaWexinAppTimeOut(scheme, domain, token) {
            console.log(navigator.userAgent);
            if (navigator.userAgent.match(/Windows Phone/i)) {
                // Windows Phone
                if (navigator.userAgent.match(/MicroMessenger/i)) {
                    window.location.href = domain + "/allpaypass/api/payment/megaweixin/" + token;
                } else {
                    uninstallAppDialog(500);
                }
            } else if (navigator.userAgent.match(/Android/i)) {
                if (navigator.userAgent.match(/Chrome/i)) {
                    // Android + Chrome
                    if (navigator.userAgent.match(/MicroMessenger/i)) {
                        // Android + Chrome + weixin
                        window.location.href = domain + "/allpaypass/api/payment/megaweixin/" + token;
                    } else {
                        window.location.href = scheme.androidStore
                    }
                } else {
                    // Android + not Chrome
                    uninstallAppDialog(500);
                }
            } else if (navigator.userAgent.match(/(iPad|iPhone|iPod)/i)) {
                // ios
                if (navigator.userAgent.match(/MicroMessenger/i)) {
                    window.location.href = domain + "/allpaypass/api/payment/megaweixin/" + token;
                } else {
                    window.location.href = scheme.iosStore
                }
            } else {
                // other
                uninstallAppDialog(500);
            }
        }

        function callPay2go(domain) {
            $.ajax({
                type: "POST",
                url: `${domain}/allpaypass/api/Pay2Go/getPay2GoUrl`,
                data: JSON.stringify({
                    "shortId": token
                }),
                contentType: "application/json",
                success: function (res) {
                    if (navigator.userAgent.match(/Android/i)) {
                        let ezpayAndroidStoreurl = 'https://play.google.com/store/apps/details?id=com.pay2go.pay2go_app&hl=zh_TW'
                        checkGoAppOrGoStore(res.android, ezpayAndroidStoreurl)
                    } else if (navigator.userAgent.match(/(iPad|iPhone|iPod)/i)) {
                        let ezpayIosStoreUrl = 'https://itunes.apple.com/tw/app/ezpay%E7%B0%A1%E5%96%AE%E4%BB%98/id1006503832?mt=8'
                        checkGoAppOrGoStore(res.ios, ezpayIosStoreUrl)
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        function checkAndroid() {
            let ua = navigator.userAgent.toLowerCase();
            let isAndroid = ua.indexOf("android") > -1;
            if (isAndroid) {
                $("#ApplePay").css("display", "none");
            }
        }

        function checkGoAppOrGoStore(appUrl, storeUrl) {
            let beforeTime = new Date().valueOf()
            setTimeout(function () {
                let afterTime = new Date().valueOf()
                if (afterTime - beforeTime < 1050) {
                    window.location.href = storeUrl
                }
            }, 1000)
            window.location.href = appUrl;
        }

    //    ]]>
    </script>
    <script th:inline="javascript">
        function sendMultiQRcode() {
            document.getElementById("multiqrcode-sending-form").submit();
        }
    </script>
    
    
</body>

</html>