<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>intella.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <table>
        <tr>
            <td>交易結果</td>
            <td th:text="${result}"></td>
        </tr>
        <tr>
            <td>交易訊息代碼</td>
            <td th:text="${description}"></td>
        </tr>
    </table>

</body>
</html>