<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>intella</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/allpaypass/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/allpaypass/css/scan2pay.css" rel="stylesheet"/>
    <script src="/allpaypass/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="ts-content">
    <div class="title-icon">
        <img id="header-banner" src="/allpaypass/images/scan2pay.png" draggable="false"/>
    </div>
    <div class="ts-bank">
        <div class="ts-title">
            <p>請輸入信用卡資訊</p>
            <div class="ts-logo-icon" th:switch="${paymentMethod}">
                <img th:case="'shanghai'" src="/allpaypass/images/shanghai-logo.png" draggable="false"/>
                <img th:case="'ts'" src="/allpaypass/images/ts-logo.png" draggable="false"/>
                <img th:case="'fubonbank'" src="/allpaypass/images/fubonbank-logo.png" draggable="false"/>
                <img th:case="'scsb'" src="/allpaypass/images/scsb-logo.png" draggable="false"/>
                <img th:case="'scsb3D'" src="/allpaypass/images/scsb-logo.png" draggable="false"/>
            </div>
        </div>
        <div class="ts-table">
            <table class="table">
                <tbody>
                <tr>
                    <td class="table-title">店家名稱</td>
                    <td th:text="${merchantName}"></td>
                </tr>
                <tr>
                    <td class="table-title">商品名稱</td>
                    <td th:text="${body}"></td>
                </tr>
                <tr>
                    <td class="table-title">訂單金額</td>
                    <td><span th:text="${amount}">0</span>元</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="creditcard-type">
            <p>信用卡類別</p>
            <div class="credit-type">
                <img src="/allpaypass/images/ts-visa-logo.png" draggable="false"/>
            </div>
            <div class="credit-type">
                <img src="/allpaypass/images/ts-mostercard-logo.png" draggable="false"/>
            </div>
            <div class="credit-type">
                <img src="/allpaypass/images/ts-jcb-logo.png" draggable="false"/>
            </div>
            <div class="credit-type">
                <img src="/allpaypass/images/ts-union-logo.png" draggable="false"/>
            </div>
        </div>
    </div>
    <div class="creditcard-info">
        <p>信用卡卡號</p>
        <input id="card-number-input" type="text" class="input-style"/>
    </div>
    <div class="row creditcard-info">
        <div class="col-60 date-block">
            <p>有效期限</p>
            <select id="valid-date-month" class="select-style">
                <option value="month" disabled="disabled" selected="selected">月份</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>

            <select id="valid-date-year" class="select-style">
                <option value="year" disabled="disabled" selected="selected">年份</option>
            </select>
        </div>
        <div class="col-40 date-block">
            <p>背面末三碼</p>
            <input id="smail-number" type="number" class="input-style"/>
        </div>
    </div>
    <div class="creditcard-info">
        <p>持卡人姓名</p>
        <input id="card-holder" type="text" class="input-style"/>
    </div>
    <div class="footer-button">
        <p class="friendly-remind-words">*請確認您的訂單資料正確，再按確認付款已完成本次交易</p>
        <div class="row button-block">
            <div class="col-helf">
                <button id="trade-cancel-btn" class="btn card-info-button cancel">取消</button>
            </div>
            <div class="col-helf" th:switch="${paymentMethod}" id="paymentMethod">
                <button th:case="'ts'" id="trade-confirm-btn" class="btn card-info-button confirm" value="ts">確認付款</button>
                <button th:case="'fubonbank'" id="trade-confirm-btn" class="btn card-info-button confirm" value="fubonbank">確認付款</button>
                <button th:case="'shanghai'" id="trade-confirm-btn" class="btn card-info-button confirm" value="shanghai">確認付款</button>
                <button th:case="'scsb'" id="trade-confirm-btn" class="btn card-info-button confirm" value="scsb">確認付款</button>
                <button th:case="'scsb3D'" id="trade-confirm-btn" class="btn card-info-button confirm" value="scsb3D">確認付款</button>
            </div>
        </div>
    </div>
</div>

<div class="back-dialog" id="back-dialog">
    <div class="warning-bg">
        <img src="/allpaypass/images/warning-icon.png" draggable="false"/>
    </div>
    <div class="instructions">
        <p>是否中斷交易?</p>
    </div>
    <div class="option-btn" id="option-btn">
        <button class="dialog-btn btn-yes" id="dialog-yes" type="button" value="yes">是</button>
        <button class="dialog-btn btn-no" id="dialog-no" type="button" value="cancel">否</button>
    </div>
</div>

<div class="dialog-opacity-bg" style="min-height: 100vh"></div>

<script th:inline="javascript">
    //    <![CDATA[
    $(function () {
        setYearSelectOption();

        $("#card-number-input").keyup(function (e) {
            var cardNumber = e.currentTarget.value;
            $("#card-number-input").val(cardNumberFormat(cardNumber));
        });

        $("#smail-number").keyup(function (e) {
            var smalNo = e.currentTarget.value;
            $("#smail-number").val(setNumSize(smalNo, 3));
        });

        var totalFee = [[${amount}]];
        var orderId = [[${orderId}]];
        var merchantId = [[${merchantId}]];
        var body = [[${body}]];
        var token = [[${token}]];
        var isCustom = [[${isCustom}]];
        console.log(isCustom);
        if (isCustom == "1") {
            var customizedTemplate = ![[${customizedTemplate}]] ? "" : [[${customizedTemplate}]] + "/";
            console.log(customizedTemplate);
            $("#header-banner").attr("src", "/allpaypass/images/" + customizedTemplate + "scan2pay.png");
        }


        $("#trade-confirm-btn").click(function () {
            $("#trade-confirm-btn").prop('disabled', true);

            var expireDate = $("#valid-date-year").val() + $("#valid-date-month").val();
            if(expireDate.length != 4){
                alert("請輸入有效期限");
                return false;
            }

            setTimeout(function () {
                $("#trade-confirm-btn").prop('disabled', false);
            }, 10000);
            var Data = {
                CardId: $("#card-number-input").val().split("-").join(""),
                ExpireDate: expireDate,
                DeviceInfo: "APP-001",
//                DeviceOS: "2",
                TotalFee: totalFee,
                StoreOrderNo: orderId,
                ExtenNo: $("#smail-number").val(),
                Body: body,
                token: token

            };

            var Header = {
                CreateTime: currentTime(new Date()),
                MchId: merchantId,
                Method: "20000",
                ServiceType: "Payment"
            };

            var data = {
                Data: JSON.stringify(Data),
                Header: Header
            };
            console.log(data);
            var value = $(this).attr("value");
            if (value === 'ts') {
                $.ajax({
                    type: "POST",
                    url: domain + "allpaypass/api/tsb/credit",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (res) {
                        console.log("success");
                        console.log(res);
                        console.log(res.Data.platformRsp);
                        window.location.href = res.Data.platformRsp;

                    },
                    error: function (e) {
                        console.log("error");
                        console.log(e);
                        $("#trade-confirm-btn").prop('disabled', false);
                    },
                    complete: function () {
                        console.log("domain + allpaypass/api/tsb/credit,");
                        $("#trade-confirm-btn").prop('disabled', false);
                    }
                });
            } else if (value === 'fubonbank') {
            	data.Header.Method = '23800';
                $.ajax({
                    type: "POST",
                    url: domain + "allpaypass/api/fubonbank/credit",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (res) {
                        console.log("success");
                        console.log(res);
                        console.log(res.Data.platformRsp);
                        window.location.href = res.Data.redirectUrl;
                    },
                    error: function (e) {
                        console.log("error");
                        console.log(e);
                        $("#trade-confirm-btn").prop('disabled', false);
                    },
                    complete: function () {
                        console.log("domain + allpaypass/api/fubonbank/credit,");
                        $("#trade-confirm-btn").prop('disabled', false);
                    }
                });
            } else if (value === 'scsb') {        	
            	data.Header.Method = '22600';
                $.ajax({
                    type: "POST",
                    url: domain + "allpaypass/api/scsb/credit",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (res) {
                        window.location.href = res.Data.redirectUrl;
                    },
                    error: function (e) {
                        console.error(e);
                        $("#trade-confirm-btn").prop('disabled', false);
                    },
                    complete: function () {
                        $("#trade-confirm-btn").prop('disabled', false);
                    }
                });
            } else if (value === 'scsb3D') {        	
            	data.Header.Method = '23900';
                $.ajax({
                    type: "POST",
                    url: domain + "allpaypass/api/scsb/credit3D",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (res) {
                        window.location.href = res.Data.redirectUrl;
                    },
                    error: function (e) {
                        console.error(e);
                        $("#trade-confirm-btn").prop('disabled', false);
                    },
                    complete: function () {
                        $("#trade-confirm-btn").prop('disabled', false);
                    }
                });
            }
        });

        $("#trade-cancel-btn").click(function () {
            $("#back-dialog").show();
            $(".dialog-opacity-bg").show();
            if ($("#back-dialog").not(':hidden')) {
                window.history.pushState('forward', null, '#forward');
            }
        });

        if (window.history && window.history.pushState) {
            window.history.pushState('forward', null, '#forward');
            $(window).on('popstate', function () {
                $("#back-dialog").show();
                $(".dialog-opacity-bg").show();
                if ($("#back-dialog").not(':hidden')) {
                    window.history.pushState('forward', null, '#forward');
                }
            });
        }

        var token = [[${token}]];
        var domain = window.location.origin + '/';
        $("#option-btn button").click(function () {
            var clickevent = $(this).val();
            switch (clickevent) {
                case "yes":
                    $.ajax({
                        url: domain + "allpaypass/api/general/interruptTrade/" + token,
                        success: function (res) {
                            console.log(res);
                            console.log("success");
                        },
                        error: function (e) {
                            console.log(e);
                            console.log("error");

                        }
                    });
                    window.location.href = domain + token;
                    break;
                case "cancel":
                    $("#back-dialog").hide();
                    $(".dialog-opacity-bg").hide();
                    if (window.history && window.history.pushState) {
                        window.history.pushState('forward', null, '#forward');
                    }
                    break;
            }
        });

    });

    function currentTime(d) {
        var mm = d.getMonth() + 1;
        var dd = d.getDate();
        var hh = d.getHours();
        var ss = d.getSeconds();
        var minutes = d.getMinutes();
        return [d.getFullYear(),
                (mm > 9 ? '' : '0') + mm,
                (dd > 9 ? '' : '0') + dd
            ].join('')
            + (hh > 9 ? '' : '0') + hh
            + (minutes > 9 ? '' : '0') + minutes
            + (ss > 9 ? '' : '0') + ss;
    }

    function setYearSelectOption() {
        var currentDate = new Date();
        var currentYear = currentDate.getFullYear();
        for (var index = 0; 15 > index; index++) {
            $("#valid-date-year").append('<option value="' + (currentYear + index).toString().substring(2) + '">' + (currentYear + index) + '</option>');
        }
    }

    function setNumSize(value, size) {
        if (value.length > size) {
            value = value.substring(0, value.length - 1);
        }
        return value;
    }

    function cardNumberFormat(value) {
        if (value.length > 23) {
            var dashClear = value.replace(/[^\d]/g, '')
            valueDash = dashClear.substring(0, dashClear.length - 1).match(/.{1,4}/g)
        } else {
            var valueDash = value.replace(/[^\d]/g, '').match(/.{1,4}/g);
        }
        return valueDash ? valueDash.join('-') : '';
    }
    //    ]]>
</script>
</body>
</html>