<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>信用卡交易結果</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    var orderNo = [[${orderNo}]];
    var result = [[${result}]];
    var status = [[${status}]];

    /*]]>*/
</script>
<table>
<tr>
    <th>交易狀態</th>
    <td th:text="${status}">2</td>
</tr>
<tr>
    <th>訂單序號</th>
    <td th:text="${orderNo}">2</td>
</tr>
<tr>
    <th>交易訊息</th>
    <td th:text="${result}">2</td>
</tr>
</table>
</body>
</html>