<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${checkoutTitle}"></title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 2px solid #000000;
            text-align: left;
            padding: 8px;
        }

    </style>
</head>
<body>
<br/>
<div style="padding: 10px 10px 10px 20px;">
    <table th:if="!${#lists.isEmpty(errorSignOnResultList)}">
        <caption th:text="自動登入"></caption>
        <tr style=" background-color: 	#66FFFF;">
            <th>DeviceId</th>
            <th>Name</th>
            <th>登入票證種類</th>
            <th>回應時間</th>
            <th>原登入回應</th>
        </tr>
        <th:block th:each="map : ${errorSignOnResultList}">
            <tr>
                <td th:text="${map.ownerDeviceId}"></td>
                <td th:text="${map.name}"></td>
                <td th:text="${map.ticketType}"></td>
                <td th:text="${map.responseTime}"></td>
                <td th:text="${map.signOnResult}"></td>
            </tr>
        </th:block>
    </table>
</div>
<br/>

</body>
</html>