<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${checkoutTitle}"></title>
    <style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	td, th {
	  border: 2px solid #000000;
	  text-align: left;
	  padding: 8px;
	}
	
	</style>
</head>
<body>
<br/>
<div style="padding: 10px 10px 10px 20px;">
	<table th:if="!${#lists.isEmpty(checkoutList)}">
		<caption th:text="${checkoutTitle}"></caption>
	   <tr style=" background-color: 	#66FFFF;">
		   <th>流水號</th>
		   <th>帳號</th>
		   <th>批號</th>
		   <th>種類</th>
		   <th>comment</th>
		   <th>設備ID</th>
		   <th>狀態</th>
		   <th>創建時間</th>
		   <th>更改時間</th>
	   </tr>
	   <th:block th:each="checkoutItem : ${checkoutList}">
	      <tr>
	         <td th:text="${checkoutItem.ccSeqId}"></td>
	         <td th:text="${checkoutItem.accountId}"></td>
	         <td th:text="${checkoutItem.batchNo}"></td>
	         <td th:text="${checkoutItem.type}"></td>
	         <td th:text="${checkoutItem.comment}"></td>
	         <td th:text="${checkoutItem.ownerDeviceId}"></td>
	         <td th:text="${checkoutItem.status}"></td>
	         <td th:text="${#strings.substring(checkoutItem.crDate,0,19)}"></td>
	         <td th:text="${#strings.substring(checkoutItem.dateStamp,0,19)}"></td>
	      </tr>
	   </th:block>
	</table>
</div>
<br/>

</body>
</html>