<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<br/>
<div style="border-radius: 10px; background-color: #2aabd2; padding: 10px 10px 10px 20px;">

    <p th:text="${errorMessage}" style="display: inline-block"></p><br/>

</div>
<br/>

</body>
</html>