<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<br/>
<div style="border-radius: 10px; background-color: #2aabd2; padding: 10px 10px 10px 20px;">
    會員<p th:text="${merchant}" style="display: inline-block"></p>您好，<br/>
    請點擊已下連結重新設定密碼，連結於15分鐘內有效，並僅限點擊一次。<br/>
    <p th:text="${message}" style="display: inline-block"></p><br/>

    若非本人，無須理會此封信件。
</div>
<br/>

</body>
</html>